[2016-09-29 15:28] hainm commented on #696
I think it is just personal taste.

PS: I am not talking about 'replacing click' but adding one more option.

tab = Tab([...], hover=True)

Hai

[2016-09-29 20:32] gnestor commented on #696
Ok, I gotcha. I invite you to submit a PR with an example implementation 👍

[2016-09-29 20:53] gnestor commented on #643
@mlovci I just tried out your sample code using ipywidgets at master and it works as expected. Try upgrading to the latest version of ipywidgets (5.2.2) and let me know if you're still having issues...

[2016-09-29 21:02] gnestor commented on #663
I should also add that every widget has a `msg_throttle` key/property that can be set. According to the help: "msg_throttle: Maximum number of msgs the front-end can send before receiving an idle msg from the back-end."
https://github.com/ipython/ipywidgets/blob/eb4dcd9956d88ae842bff7822a9c32fc038906dd/ipywidgets/widgets/widget.py#L164

[2016-09-29 21:45] gnestor commented on #624
I'm not sure I understand the problem... I am able to reproduce the 4 progress bars after a refresh vs. the expected 2.

[2016-09-29 21:58] #562 closed

[2016-09-29 22:02] gnestor commented on #558
@denfromufa Is this issue resolved after upgrading notebook?

[2016-09-29 22:03] gnestor commented on #536
@drafter250 Is this issue resolved after upgrading to ipywidgets 5.x?

[2016-09-29 22:05] gnestor commented on #456
We will be migrating away from this theme and resolving this (fingers crossed) in the process. Follow https://github.com/ipython/ipywidgets/issues/799 for updates...

[2016-09-29 22:14] lrq3000 commented on #624
@gnestor All "second bar"s before "first bar"  should not reappear after the refresh, as they should have been deleted/cleared when user restarted the cell.

[2016-09-29 22:17] lrq3000 commented on #624
Steps to reproduce the issue using the code above:
1. Execute cell with the above code.
2. Restart the cell.
3. Repeat 1 and 2 several times. At this point there is nothing abnormal.
4. Refresh the page. Now you should see deleted "second bar"s reappearing, thus mangling the output of the last run with widgets of previous runs.

[2016-09-29 22:18] lrq3000 commented on #624
And sorry i should have posted the steps before, i don't know why I didn't.

[2016-09-30 00:32] drafter250 commented on #536
Yes sorry i believe it is.

On Thursday, September 29, 2016, Grant Nestor <notifications@github.com>
wrote:

[2016-09-30 00:33] #536 closed

[2016-09-30 00:50] willingc commented on #456
@gnestor I think this can be closed.

[2016-09-30 00:50] #456 closed

[2016-09-30 01:01] gnestor commented on #761
@SylvainCorlay @minrk I'm working on migrating back to the RTD docs theme and I'm seeing this when building the docs locally, too. Any idea why this notebook is returning "Widget Javascript not detected" and not the others?

[2016-09-30 01:09] denfromufa commented on #558
I found alternative solution, but let me check on this one again.

On Thursday, September 29, 2016, Grant Nestor <notifications@github.com>
wrote:

[2016-09-30 01:10] gnestor commented on #761
@michaelpacer Looping you in as this appears to be an issue with nbconvert?

[2016-09-30 15:58] SylvainCorlay commented on #761
@gnestor thanks for getting the ball rolling on that. I will look into it this afternoon.

[2016-09-30 23:25] michaelpacer commented on #761
So I'm trying to reconstruct the doc build process (since actually…that seems to be undocumented).

If I convert directly to `rst` or `html` using `nbconvert` directly it has no output at all. The raw notebooks also have no output. This makes me think that its being executed first — but if so I'm not sure how this works as well as it does already. E.g., in the `Widget Custom.ipynb` it requires `da

[2016-09-30 23:46] gnestor commented on #624
I'm still unsure what you mean by "restart the cell." Do you mean "clear the cell's output" or "restart the kernel"?

[2016-09-30 23:50] gnestor commented on #624
Here's what I see (on master) when I run the example code and refresh the page:

![screenshot](http://g.recordit.co/dN7ctCGDny.gif)

[2016-10-01 00:20] gnestor commented on #761
@michaelpacer Did you do Widgets > Save Notebook with snapshots before exporting? If you try to export from the notebook without doing this, the widgets will not be included in the export.

![screenshots](http://g.recordit.co/qBLH5my3UR.gif)

[2016-10-01 00:23] gnestor commented on #761
@SylvainCorlay Are we planning on rendering *live* widgets in the docs or sticking with the static widgets?

[2016-10-01 09:53] lrq3000 commented on #624
Sorry for the loose terminology, "restart the cell" means "re-execute the cell", so just execute it again several times (you don't need to clear the output). This is not really necessary to display the issue, executing it once as you did already produces the bug, but executing it several times will multiply the bug (there will be as many "buggy" widgets as the number of time you executed the cell)

[2016-10-01 21:23] SylvainCorlay commented on #761
I think that we will eventually have "live" widgets (i.e. javascript-based) widgets in the docs and nbviewer. Unlike the initial prototype of @jdfreder we are probably going to create a sphinx plugin instead of full-fledged theme.

PS: the backend-less widgets such as the ones on jupyter.org/widgets are what we called "static widgets" for some time. They are *static* in that there is no python bac

[2016-10-02 05:06] hainm opened #808 "option to write to file for embed widget source"
what do you think? If the widget has lots of data, it's very slow to paste to my vim editor.

[2016-10-02 12:32] SylvainCorlay commented on #808
Thanks.
If the widget manager serialization has so much data that copying it in a text editor in slow, this might also be an issue for the browser to handle though.

[2016-10-04 04:26] #799 closed

[2016-10-04 04:27] gnestor commented on #797
@SylvainCorlay Can you provide a test notebook that I can use to reproduce this?

[2016-10-04 05:17] denfromufa commented on #558
@gnestor just checked, not having any issues!

alabaster (0.7.7)
anaconda-build (1.15.0)
anaconda-client (1.4.0)
anaconda-navigator (1.1.0)
argcomplete (1.0.0)
astropy (1.2.1)
autopxd (1.1.1)
Babel (2.2.0)
backports-abc (0.4)
backports.shutil-get-terminal-size (1.0.0)
backports.ssl-match-hostname (3.4.0.2)
beautifulsoup4 (4.4.1)
bitarray (0.8.1)
blaze (0.9.0)
bokeh (0.11.1)
boto (2.39.0)
cdecimal

[2016-10-04 05:18] #558 closed

[2016-10-05 04:21] ncoghlan opened #809 "RFE: Collapsible JSON tree rendering"
I've been doing a fair bit of work with JSON data in notebooks recently, and it would be nice to have an out-of-the-box collapsible tree rendering for JSON-compatible data structures.

The recipe in this Reddit post from @caldwell largely gets the job done: https://www.reddit.com/r/IPython/comments/34t4m7/lpt_print_json_in_collapsible_format_in_ipython/

It's just a bit inconvenient to use at the

[2016-10-05 04:38] Carreau commented on #809
Thanks @ncoghlan

I would suggest looking at https://github.com/jupyter/jupyterlab, it's the current effort in rewriting the frontend with a more pluggable API that to define custom handler for various mimetypes.
If you want to poke around it's probably better that messing with current notebook sourcecode which is a mess and will be sunset at some point.

Getting this with current notebook UI is f

[2016-10-05 04:44] Carreau commented on #809
I guess that could be done in pure html/css by making the "expand" buttons checkboxes. Which is likely to be more correct, and more efficient.

[2016-10-05 04:57] ncoghlan commented on #809
@Carreau Right, most of the logic here is actually in @caldwell's renderjson JavaScript library rather than in the Python code. The only tweaks I've made in my own variant of the notebook snippet are to:

- use a local copy of the JS library rather than the online version
- expand the first level of keys by default

[2016-10-05 17:16] gnestor commented on #630
@SylvainCorlay Do you think it makes sense for me to try out this [multirange polyfill](http://leaverou.github.io/multirange/) for the native HTML slider? Another thing to consider: If we are going to replace the jQuery slider with a native one, should we not do the same for [Dropdowns](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select) and [Progress](https://developer.mozilla.org/e

[2016-10-05 17:31] gnestor commented on #467
@jasongrout I tested on master and SelectionSlider only updates on mouseup when `continuous_update=True` and updates on drag when `continuous_update=False`, which is the opposite of what is expected.

![screenshot](http://g.recordit.co/whn6MFPlgt.gif)

[2016-10-05 20:50] gnestor opened #811 "Improved and consistent visual style of built-in widgets"

[2016-10-05 20:51] gnestor opened #812 "Hands off approach to styling"
ipywidgets only provides an API for adding/removing CSS classes and the Style API. The Style API provides the ability to set layout CSS traits in a mutable fashion. All other styling APIs are deprecated.

[2016-10-05 20:52] gnestor opened #813 "Include a new interact API that behaves like Sage's equivalent"

[2016-10-05 20:52] gnestor opened #814 "Use npm for packaging the JavaScript code as `jupyter-js-widgets`"

[2016-10-05 21:12] SylvainCorlay commented on #814
What do you mean?

[2016-10-05 21:33] gnestor commented on #814
Oh I thought I searched for this the other day and didn't see it!

[2016-10-05 21:33] #814 closed

[2016-10-05 21:34] gnestor commented on #812
@SylvainCorlay Has this already been implemented?

[2016-10-05 21:35] gnestor commented on #813
@SylvainCorlay Has this already been implemented?

[2016-10-06 00:17] diego898 opened #815 "Firefox 49 not able to use interact?"
Im using macOS 10.12 (Sierra) and jupyter notebook 4.2.1 with python 3.5.2. I am trying to use interact from ipywidgets and the following code works perfectly in chrome 53 but **not** in firefox 49. Nothing shows up in my console, its just firefox does not show the interactive bars. How can I debug this to figure out if this something with the notebook or something with firefox?

[code]

Note: I o

[2016-10-06 08:18] SylvainCorlay commented on #813
This has been tackled by @jdemeyer and I think that it is almost code complete in master.

[2016-10-06 12:10] jdemeyer opened #817 "Labels should allow HTML code?"
Currently, the label (i.e. the `description` attribute) of a widget is displayed as plain text (with LaTeX support). It would be useful to allow arbitrary HTML.

---
## Summary
Should the description accept html? Right now it doesn't by design, but we could change that.

[2016-10-06 12:12] jdemeyer commented on #813
There is code at https://trac.sagemath.org/ticket/21267 which is an interact API using `ipywidgets` that behaves (almost) exactly like the old SageNB `@interact` functionality. However, this is not part of `ipywidgets`. It's not clear whether it should be part of `ipywidgets` or not. Maybe some things make sense for `ipywidgets`, others maybe not.

Roughly speaking, there are 4 kinds of things tha

[2016-10-06 12:17] SylvainCorlay commented on #817
I think that it currently allow latex equations.

[2016-10-10 20:21] gnestor commented on #761
@SylvainCorlay Ok, thanks for clarifying. Have we considered just linking to live notebooks (on tmpnb or jupyterhub) from the docs? Features like interact can't be demoed without a kernel, so trying to export the _Using Interact.ipynb_ notebook to static HTML with static widgets doesn't make sense. Is there an issue or PR to track the "live widgets" effort or sphinx plugin?

[2016-10-10 20:37] PhaethonPrime commented on #815
I have the same issue with interact on Chrome: Version 53.0.2785.143 m (64-bit).

The example code online doesn't work:

[code]

These are my versions:

    python                    3.5.2
    ipykernel                 4.3.1                    py35_0
    ipython                   4.2.0                    py35_0
    ipython_genutils          0.1.0                    py35_0
    ipywidgets

[2016-10-12 03:22] tritemio opened #825 "question: how to use layout and interct"
I'm trying to combine the interact function with custom Box layout.

As  minimial example, let's say I put some widgets in a HBox:

[code]

I can use interact:

[code]

But in this way I cannot specify the HBox container. Is there a way to use `interact` with widgets contained in a Box?

Thanks.

[2016-10-12 03:27] tritemio opened #826 "question: how to use layout and interct"
I'm trying to combine the interact function with custom Box layout.

As  minimial example, let's say I put some widgets in a HBox:

[code]

I can use interact:

[code]

But in this way I cannot specify the HBox container. Is there a way to use `interact` with widgets contained in a Box?

Thanks.

[2016-10-12 10:01] deisi commented on #710
Just to see if I understand this correctly. If I have a TextWidget and I like to change the color of the background of this widget, during run time, this is not easily possible? At least

[code]

Will not have a red background. Even though the `text.background_color` is an available attribute of `text`.

[2016-10-13 20:20] ssunkara1 opened #829 "Order of functions called in WidgetModel"
Hey all,

This is more of a question than an issue. So. in `WidgetModel` previously, the function `constructor` is called before the function `set`. This is probably what I would have expected.

But in the current master, the function `initialize`, which looks like a replacement for the `constructor`, is called after the function `set`. I wouldn't have expected that.

I wanted to find out if this

[2016-10-13 20:48] SylvainCorlay opened #830 "RTD build fail"
I observed the same error on a bunch of different repo on the past two hours.

[2016-10-13 21:34] hainm commented on #826
I barely use `interact` decorator but use `interactive`.

[code]

[2016-10-13 22:22] ssunkara1 commented on #829
There seems to be a difference between the `constructor` and `initialize`.

https://github.com/jashkenas/backbone/issues/720

But I guess we want to use `constructor` instead of `initialize`?

[2016-10-14 03:50] ssunkara1 commented on #829
@jasongrout

[2016-10-14 15:27] jasongrout commented on #677
@ssunkara1 just thought through this again, and realized things were documented. Problem's are:

1. In typescript, the constructor *must* call `super()` and *must* call it before doing anything with `this`.
2. In our current logic, we wanted to set things up before calling the super's constructor. That had to change.
3. Moving things to initialize is more supported by backbone (that's where initia

[2016-10-15 10:03] jasongrout opened #835 "JupyterLab key actions"
In JupyterLab with master, an input text widget does not trap the keyboard events, so for example, trying to type 'a' instead inserts a new cell in the notebook.

I thought this was working before, so it's likely a recent break.

[2016-10-15 10:07] jasongrout opened #836 "Move embed files to a separate package"
The basic design of ipywidgets is that the core widgets are in jupyter-js-widgets, while the adapters that actually put them on the page are in other packages. I think we should move the adapters that support embedded widgets (the embed-\* files) to a separate package. This will clean up the dependencies for jupyter-js-widgets a lot.

Thoughts, @SylvainCorlay?

[2016-10-17 01:06] lrq3000 commented on #773
I think the same issue is happening here:

https://github.com/tqdm/tqdm/pull/292

[2016-10-17 23:07] paul-shannon opened #838 "an offer of an small intermediate tutorial ipywidget notebook & nbextension example using d3"
In preparation for creating a [cytoscape.js](http://js.cytoscape.org/) ipywidget as an nbextension, I figured I would create  a simple stripped down interactive widget using another better-known and popular js library - d3 - as a good learning exercise.

I began this process by studying https://ipywidgets.readthedocs.io/en/latest/
Then I looked at the three exemplary (but complicated) nbextension

[2016-10-17 23:49] dmadeka commented on #838
By the way @paul-shannon , just as an fyi simply doing

[code]
should do exactly the same thing as the example of appending a d3 circle. You can also add the exact same mouse over behavior with little effort. Not sure why you say it's complicated... just wanted to know

[2016-10-17 23:57] paul-shannon commented on #838
Hi Dhruv,

It is not that the USE of bqplot is complicated.  As you illustrate, it is nice and simple.

But for the sake of learning, my experience is that it is pretty complicated, not transparent to a relative beginner programming in these idioms.  I see 15,900 lines of javascript code, 4300 lines of python.

 - Paul

[2016-10-18 00:28] jasongrout commented on #838
Yes!

Definitely!

Certainly!

That sounds like a fantastic idea!

[2016-10-18 20:08] paul-shannon commented on #838
Great to get this response.  Thank you.

My first version will be, I think, embarrassingly bad.  Shall I start, therefore, with a gist, not a PR?

 - Paul

[2016-10-18 21:54] paul-shannon commented on #838
I will be glad to submit in any mode your prefer, for your review, critique and suggestions.
For starters, however, and hoping this  is not inconvenient, my first solution (flawed...) is

   https://github.com/paul-shannon/notebooks/blob/master/study/CircleView.ipynb

I will be grateful for any and all comments.

[2016-10-19 17:23] jasongrout commented on #838
I think the d3 requirement should go at the top, with the `jupyter-js-widgets` requirement:
[code]

[2016-10-19 18:29] jasongrout commented on #838
Also, you probably don't need to create the svg element every time the ratio is changed. I think creating it once in the render, and then using d3 to modify the svg element would be cleaner.

[2016-10-19 18:29] jasongrout commented on #838
Overall, great work!

[2016-10-19 18:38] paul-shannon commented on #838
I spent hours yesterday trying to make that approach work - that is, using the standard requirejs define statement with both jupyter-js-widgets and d3.  Why I failed, I may never know...

It works perfectly now, just as you predict.

Thank you!

 - Paul

[2016-10-19 21:20] paul-shannon commented on #838
Maintaining the svg, creating it only once, is clearly the right thing to do.  There are now three separate methods:

   createDiv
   createCanvas
   drawCircle

It took a while to figure out: the svg canvas cannot be created until the underlying div appears in the DOM, which takes a little time.  I now use a setTimeout to do that; some sort of waitForElement would be more robust.  Any suggestions

[2016-10-19 22:58] jasongrout commented on #838
Using the global "window.svg" means that there can be only one of these on the page (otherwise they overwrite each other). You're right that this is a bad idea :).

The d3.select can take a DOM node directly - no need to look it up on the page. I would probably do something like:

[code]

instead of creating the div and svg separately. Save a reference to the svg in `this.svg`, and probably save a

[2016-10-20 22:39] gnestor commented on #624
@SylvainCorlay Do you have any idea where this bug may be lurking? The notebook is reloaded and output for the cell in question contains a bunch of _ghost_ widgets that weren't displayed before reloading. On first thought, it sounds like there must be something odd going on with the cell's output in the notebook file:

[code]

The output looks fine. However, the `metadata.widgets.state` contains 6

[2016-10-20 22:47] gnestor opened #844 "Displays widgets out of order"
The following code:

[code]

consistently outputs:

![image](https://cloud.githubusercontent.com/assets/512354/19580609/3faac860-96dc-11e6-8b9c-684f910569a8.png)

The "First bar is deleted" widget should be first and the "Second bar always stays" should be second, but it's reversed.

[2016-10-20 23:09] gnestor commented on #813
@jdemeyer Ok, thanks for clarifying! I can start working on the 4 issues above. Do we have a timeline for these features?

[2016-10-20 23:09] #813 closed

[2016-10-21 06:06] jdemeyer commented on #813
I don't know what you mean with timeline. I wouldn't be able to implement any of the 4 extra needed features myself, since I know too little of Javascript.

[2016-10-21 14:20] jasongrout commented on #817
In JupyterLab, `IntSlider(description='<u>hi</u> $x^2$')` does *not* render the latex *until* mathjax is loaded to render some other equation. The html is not rendered since we use textContent: https://github.com/ipython/ipywidgets/blob/91b9ae5de02f9618642d95f72bd0088b9f64b1a9/jupyter-js-widgets/src/utils.ts#L155

[2016-10-21 14:22] gnestor commented on #813
What I mean is do you need these implemented within a certain timeframe? I just want to know how to prioritize them against all of the other issues.

[2016-10-21 14:32] jdemeyer commented on #813
Actually, I need them to be implemented by August 2016 because of https://github.com/OpenDreamKit/OpenDreamKit/issues/94

Since that deadline has passed anyway, I guess the urgency is gone. The next deadline is the formal review meeting for OpenDreamKit. A date has not been decided, but it will likely be May 2017.

Just curious, I don't know you: why do you care so much about this?

[2016-10-21 14:47] gnestor commented on #813
I'm Grant 👋 I've been contributing to Jupyter for a while but recently started contracting for the project. I'm primarily maintaining the notebook and ipywidgets repos. Regarding this issue, I saw that this was on the roadmap for v5 so I wanted to make sure that it was implemented before moving on to other things.

[2016-10-21 15:00] jdemeyer commented on #813
I'm Jeroen, working mainly on SageMath for the European [OpenDreamKit](http://opendreamkit.org) grant in [Gent](https://www.google.be/maps/place/Gent). Making the SageMath interacts work in ipywidgets is one of the tasks of this project. Like I said before, this is essentially done, apart from some issues like the 4 I mentioned. It makes little sense to put it on the roadmap for v5 because a lot o

[2016-10-21 15:03] jdemeyer commented on #763
Let me add that this feature is used quite often in practice in SageMath interacts. I consider it the most important bug when porting SageMath interacts to ipywidgets.

[2016-10-21 15:13] jasongrout commented on #763
I think a semantically, a selection container for ToggleButtons is different than a row of buttons that invoke events when clicked. One is selecting a value from a set of choices, the other is presenting a list of convenient actions. A huge UI difference is that the selection container has the current selection highlighted, while the row of buttons does not have a 'pressed' button highlighted.

[2016-10-21 15:15] gnestor commented on #830
I just tested and it looks like docs are building fine for me (using [these instructions](https://github.com/ipython/ipywidgets/blob/master/docs/source/dev_docs.rst)). I did see an NPM error while building but it wasn't fatal:

[code]

[2016-10-21 15:16] jasongrout commented on #763
I would call the row of buttons a 'ButtonBar', and think it should be a different widget. Semantically, it's the same as an HBox of buttons, but renders the buttons close together. Would an HBox of buttons work just as well?

[2016-10-21 15:19] jdemeyer commented on #763
No because I still want the `ButtonBar` to have a `value` attribute indicating which button was pressed.

[2016-10-21 15:20] jdemeyer commented on #763
The problem is that Sage uses the same widget for both things. So if we want to be compatible with Sage, we really need to have one widget which supports both.

[2016-10-21 15:24] gnestor commented on #829
@jasongrout It looks like you switched from `constructor` to `initialize` in https://github.com/ipython/ipywidgets/commit/386bcd61f65ba8c80309aaa4080748ae1a6c9088. @ssunkara1 Can you elaborate about your use case (e.g. what you would like to do before initializing the model)?

[2016-10-21 15:37] gnestor commented on #826
From the `Using Interac.ipynb` in examples:

Using `HBox`:

[code]

[2016-10-21 15:38] #825 closed

[2016-10-21 15:41] gnestor commented on #817
In notebook, LaTeX in labels works but not HTML:

![image](https://cloud.githubusercontent.com/assets/512354/19604440/209c1698-976a-11e6-906c-b4003f46eedb.png)

[2016-10-21 15:45] gnestor commented on #815
@PhaethonPrime Can you both try upgrading to the current version of ipywidgets 5.2.2 and test again? I can verify that it's working on Chrome 54.0.2840.59.

[2016-10-21 15:49] gnestor commented on #815
@diego898 I just tested with Firefox 49, no problems. What version of ipywidgets are you running? You can check using `conda list` (if you are using Anaconda) or `pip show ipywidgets`.

[2016-10-21 15:50] jasongrout commented on #835
Fixed by #839.

[2016-10-21 15:50] #835 closed

[2016-10-21 16:09] PhaethonPrime commented on #815
Works fine at 5.2.2, same Chrome version that I mentioned.

[2016-10-21 20:24] jasongrout commented on #844
I tried this at least 20 times in the classic notebook with a few changes on b74662ffdad876dc2790ae159022059791f55d79, and things worked fine every time:
<img width="696" alt="screen shot 2016-10-21 at 4 23 20 pm" src="https://cloud.githubusercontent.com/assets/192614/19610512/d5adcd0c-97aa-11e6-8974-1fa40178a331.png">

[2016-10-21 23:16] gnestor commented on #844
So weird, I'm getting out of order every time. I suppose that it's even stranger that it's not reversed order but first is displayed last:

![image](https://cloud.githubusercontent.com/assets/512354/19614357/580f3f76-97a9-11e6-9419-d33b701b07fc.png)

I tried clearing outputs and manually clearing the `outputs` and `widgets.state` in the notebook but no luck. I'm running notebook and ipywidgets on

[2016-10-22 00:08] gnestor commented on #773
I can verify that this issue is resolved on master.

![image](https://cloud.githubusercontent.com/assets/512354/19615202/d7f148e0-97b0-11e6-93c3-cbffee990231.png)

You can wait and upgrade to the new release when it's available or follow the [developer install](https://github.com/ipython/ipywidgets/blob/master/docs/source/dev_install.md) instructions to install master to your local environment.

[2016-10-22 00:19] gnestor commented on #809
@ncoghlan I am planning on working on some nbextensions next week to render different mime types and JSON seems like an obvious place to start.

Regarding the Reddit snippet you referenced, if you make the following change:

[code]

specifically the `renderjson.set_show_to_level(1)`, you can expand the first-level key by default.

[2016-10-22 01:01] jasongrout commented on #844
I'm running notebook 4.2.3 - perhaps it's that? I can check on Monday.

[2016-10-22 01:08] jasongrout commented on #809
Unless you have a need for the interactive part of widgets (i.e., this data structure will be changing a lot, and you want to keep the output up to date, I think this is better done as a renderer for a specific output mimetype, like @gnestor mentions. Making a JupyterLab plugin would be a great way to deal with it in JupyterLab.

[2016-10-22 01:10] jasongrout commented on #773
Confirmed that it works in master.

[2016-10-22 01:10] #773 closed

[2016-10-22 01:18] paul-shannon commented on #838
Where do I look for docs on the javascript widgets.DOMWidgetView listenTo function?  I am unable to detect, when using a List(CInt()) traitlet,  the python event in which that list is appended to.

Thanks!

[2016-10-22 03:07] ncoghlan commented on #809
@gnestor Aye, I think your variant here is pretty much the same tweak I made in my own copy of the snippet.

The main thing I don't know is what options are available to make this something that IPython supports via an import rather than needing to copy custom JS files and Python snippets around. Presumably that would involve:

- adding the `renderjson` JavaScript code (or a functional equivalent)

[2016-10-22 04:33] jasongrout commented on #838
The traitlets List does not support events for modifying the list, such as append. We usually use the traitlets Tuple type to make that clear. It only supports events for reassignment, and only if a new list is assigned.

[2016-10-22 04:41] jasongrout commented on #809
While it's possible support one frontend through a python import (e.g., to embed javascript in a python file and send it to the frontend when displaying), that's very brittle and breaks once there is a different frontend. To properly support multiple kinds of frontends intelligently rendering your output in way that makes sense given the capabilities of the frontend, you'll really should separate

[2016-10-24 16:03] gnestor commented on #741
`widget.children[-1]` is a `ipywidgets.widgets.widget_output.Output` class vs. a `ipywidgets.widgets.widget_int.IntSlider`, so setting the display value of that will not affect the 3rd slider.

![image](https://cloud.githubusercontent.com/assets/512354/19653034/d42ddaac-99c7-11e6-8e31-a5703a5bd88f.png)

So, `widget.children[-2].layout.display = 'none'` will hide the 3rd slider. I suggest using the

[2016-10-24 16:28] gnestor opened #851 "Widget List.ipynb > Save notebook with snapshots > Freeze"
Steps to reproduce:
1. Open [Widget List.ipynb](https://github.com/ipython/ipywidgets/blob/master/docs/source/examples/Widget%20List.ipynb) in notebook (master)
2. Run all cells
3. Widgets > Save notebook with snapshots

Result:

The save will get stuck at 86/87 and it will proceed to freeze the browser tab and the dashboard tab, requiring a server restart. There is no output in the browser consol

[2016-10-24 17:39] hainm commented on #741
@gnestor I meant is the behavior is different between using Tab and Accordion. With `Tab`, I can set `display=None` while I can not with `Accordion`. I don't see why they should be different.

There is a reason I want to use `display=None` in this case: Supposed I have an `widget` that is about 1/4-1/2 of the notebook. Using `visibility` does not collapse it if user does not need it, so there will

[2016-10-24 17:53] jasongrout commented on #741
This looks like a bug in the Tab widget, that it's hiding the wrong widget. Looks like the bug is already fixed in master, though:

<img width="615" alt="screen shot 2016-10-24 at 1 52 34 pm" src="https://cloud.githubusercontent.com/assets/192614/19657216/327e7872-99f1-11e6-9e94-95b2ac069712.png">

Changing the line to `widget.children[-2].layout.display='none'` works as expected, though, and it h

[2016-10-24 18:01] jasongrout commented on #741
Closing since it seems to be fixed in master. Please reopen if doing `.children[-2]` as above doesn't work for you.

[2016-10-24 18:10] gnestor commented on #741
@jasongrout I can verify that Accordion is not responding to changes to its children's layout. I created [a test notebook](https://gist.github.com/gnestor/29433f308eeb6c09ca52e1650a705eed) to reproduce.

![image](https://cloud.githubusercontent.com/assets/512354/19657622/d8fd493e-99d9-11e6-9200-9d738275353a.png)

[2016-10-24 18:43] jasongrout commented on #741
I'll see your screenshot and raise you one of my own notebook :)

<img width="566" alt="screen shot 2016-10-24 at 2 40 51 pm" src="https://cloud.githubusercontent.com/assets/192614/19658982/19661faa-99f8-11e6-8ecc-366b0652338a.png">

The accordion you show in your screenshot is not the one we recently merged, I think - the 'Page 0' is blue in the old accordion, but plain black in the new rewrite.

[2016-10-24 19:14] gnestor commented on #741
You called my bluff! I was wondering why the tabs were still looking like before. Ok, verified that it's currently working as expected master.

[2016-10-24 19:14] #741 closed

[2016-10-24 20:07] gnestor commented on #844
I tested again after pulling the ipython/master and the results are mixed now:

![screenshot](http://g.recordit.co/VMifNujFP9.gif)

[2016-10-24 20:08] gnestor commented on #830
I'm going to close. Re-open if the you're still having issues.

[2016-10-24 20:08] #830 closed

[2016-10-24 20:19] gnestor commented on #793
AFAIK, ipywidgets is not working with jupyterlab yet (I'm still seeing "The installed widget Javascript is the wrong version." error).

If you're are still having issues installing from source:

* First uninstall the pip-installed version (e.g. `pip uninstall ipywidgets`). This sometimes requires manually removing the egg files.
* Follow the developer install instructions for the specific project

[2016-10-24 20:22] gnestor commented on #733
This was fixed by https://github.com/ipython/ipywidgets/pull/848

[2016-10-24 20:22] #733 closed

[2016-10-24 21:11] jasongrout commented on #825
@gnestor - can you put a link to the duplicate issue?

[2016-10-24 21:12] jasongrout commented on #825
Duplicate of #826

[2016-10-24 21:13] jasongrout commented on #826
Please reopen if this didn't answer your question.

[2016-10-24 21:13] #826 closed

[2016-10-24 21:15] jasongrout commented on #829
Yes, it was intentional. See https://github.com/ipython/ipywidgets/issues/677#issuecomment-253834228 for more details.

[2016-10-24 21:15] #829 closed

[2016-10-24 21:16] jasongrout commented on #829
(Happy to discuss further if needed. @ssunkara1 and I discussed this in-person as well.)

[2016-10-24 21:58] tritemio commented on #826
@hainm @gnestor, thanks, this answers my question, sorry for not following up earlier.

[2016-10-25 01:31] jasongrout commented on #763
I don't think we ought to pull in things from Sage that would be a bad thing moving forward, though. If anything, Sage could have a small compatibility wrapper that it loads by default, maybe with a deprecation warning.

[2016-10-25 06:55] jdemeyer commented on #763
For this issue, I'm simply asking to be able to intercept the `on_click()` event. I am **not** saying that `ipywidgets` should by default do something with this event. So that would be 100% backwards compatible for `ipywidgets`.

[2016-10-25 18:14] lrq3000 commented on #624
Thank's Grant, this explains why the deleted widgets still reappear, they
do are stored.
Le 21 Oct. 2016 00:39, "Grant Nestor" <notifications@github.com> a écrit :

[2016-10-25 21:28] gnestor commented on #624
@SylvainCorlay I did some more investigating and it appears that widget state (as in WidgetManager state) keys are not being preserved across executions, so if a cell is executed multiple times, a new widget with a new key is created each time. I can't find where these keys are created so I'm not able debug further...

[2016-10-26 00:18] paul-shannon commented on #838
Good tip, thanks.   I can now construct circles  python, prepend them to a fresh tuple for the traitlet, see the resulting list of objects in javascript.

In order to grok the full range of sync operations ipywidgets provide, I support circle creation in javascript also, from interactive click on the d3 canvas, adding an object for that new circle to the locally maintained array.    But the syncin

[2016-10-27 19:43] gnestor opened #854 "Add jupyterlab_widgets to dev_install.sh"
Should `dev_install.sh` be updated to include the following commands for installing jupyterlab_widgets?

[code]

I suppose that `jupyter labextension` depends on jupyterlab being installed...

[2016-10-28 14:05] paul-shannon commented on #838
Offering my own followup here, and a tangential question:

I see now that I need a pretty good understanding of backbone.js before I proceed.  I will be back to this thread in a week or so after I have done that.

Is anyone working on an R implementation of juyter js widgets?

Thanks for helping me get this far.

 - Paul

[2016-10-28 14:08] jasongrout commented on #838
Not that I know of. That would be awesome if someone were - we'd love to support R notebooks with widgets.

[2016-10-28 14:10] minrk commented on #854
Probably makes sense. You could check for its presence and run if it's available.

[2016-10-28 18:05] gnestor commented on #809
I just published an example jupyterlab extension for rendering both JSON files and output with mime-type "application/json" as a tree: https://github.com/gnestor/jupyterlab_json

I have only tested this against the master branch of jupyterlab (0.7.0) so if you try to install it against a released version of jupyterlab (installed via pip), be sure to upgrade to 0.7.0 first.

I'm working on an exten

[2016-10-28 18:13] jasongrout commented on #809
Great!

We should also beef up the rendermime system so that you can claim any mimetype that ends in `+json`. We discussed some ideas of how to do this in the dev meeting.

[2016-10-28 18:21] gnestor commented on #809
It looks like jupyterlab_vega is already doing this? https://github.com/altair-viz/jupyterlab_vega/blob/master/src/plugin.ts#L50-L51

I've seen this in nteract too: https://github.com/nteract/nteract/blob/0f14082c6e98bbc86a54ea1d3c33d655b1f252f2/src/notebook/components/transforms/plotly.js#L11

[2016-10-28 21:45] jasongrout commented on #809
We can already do what those two do - register specific mime type strings. I'm talking about something more general - handling *any* mimetype that ends in `+json`.

[2016-10-29 02:15] hainm commented on #793
uhm, I need to wait longer :(. I was so excited to try our [nglview](https://github.com/arose/nglview) with `jupyerlab`

[2016-10-29 02:44] gnestor commented on #793
I take that back! ipywidgets is working with jupyterlab! Here are install instructions: https://github.com/ipython/ipywidgets/tree/master/jupyterlab_widgets

[2016-10-29 02:46] hainm commented on #793
great. I will try, thanks. Do you test by yourself too?

[2016-10-29 07:14] #606 closed

[2016-10-29 16:49] gnestor commented on #793
I did test it myself. I doesn't look like nglview provides a labextension so it will probably not work in jupyterlab until it does ☹️

[2016-10-29 17:03] hainm commented on #793
Thanks. We can work on that, just want to make sure ipywidgets does work in lab. Cheers.

[2016-10-29 17:14] gnestor commented on #793
To clarify, ipywidgets at master works with jupyterlab: https://github.com/ipython/ipywidgets/tree/master/jupyterlab_widgets

ipywidgets at 5.2.2 does not: https://github.com/ipython/ipywidgets/tree/5.x/jupyterlab_widgets

[2016-10-29 17:18] gnestor commented on #809
Ok, so if a mime type includes "json" or "+json", then try to render with a matching renderer and if none exists, fall back to the JSON renderer? Like wildcard/regex mime type renderers? I'd be interested in helping with this 👍

[2016-10-29 17:25] gnestor commented on #809
@jasongrout Maybe you can help...I'm working on an nbextension that will render output with mime-type "application/json". My approach thus far is to override the `OutputArea` *class* by adding the JSON mime type to `OutputArea.output_types`, etc. and adding `append_json` to `OutputArea.append_map. However, it appears that the notebooks and cells/outputs are loaded before this overriding occurs, so

[2016-10-29 19:50] jasongrout commented on #763
Okay. Can you submit a PR?

[2016-10-30 11:19] RobinL commented on #565
Just to note that I'm having the same issue on:
ipywidgets                5.2.2                    py27_0
jupyter v4.2.0
on Mac

And you also get the same if you use :
https://tmpnb.org/

I'm running the example code from the docstring:

    import ipywidgets as widgets
    from IPython.display import display
    out = widgets.Output()
    display(out)

    print('prints to output area')

    with

[2016-10-31 03:23] stsievert opened #861 "Checkboxes width and max_width not updating"
When I create a checkbox and change the width, it doesn't get reflected in the browser.

Buggy behavior:
<img width="523" alt="screen shot 2016-10-30 at 10 20 33 pm" src="https://cloud.githubusercontent.com/assets/1320475/19843327/5304a730-9eef-11e6-90fd-168a6bf7ee89.png">

After editing the max-width property in the CSS with Chrome's debugging to 800ex:
<img width="159" alt="screen shot 2016-10-3

[2016-10-31 10:52] SylvainCorlay commented on #812
Nope, not yet. We are probably going to enable something similar to the `layout` class.

[2016-10-31 13:05] #854 closed

[2016-10-31 16:42] jdemeyer commented on #763
No, this is beyond my skill set (otherwise I would have done it already).

[2016-11-02 01:32] paul-shannon commented on #838
In order to exchange more complex data types between the browser and the python kernel,  and with Lists and Tuples quite constrained, I send json objects in mutable Unicode strings back and forth, parsing them into language-appropriate variables on each end.

This is the only strategy I have figured out for when manipulating state (of structured data) equally in each environment is a goal, - that

[2016-11-02 01:36] paul-shannon commented on #838
This is also a strong interest of mine.  I spent a few years with [Bioconductor](http://bioconductor.org/),  so I might be a plausible contributor.

Have you any suggestions of how I can explore this possibility?

[2016-11-03 02:08] Yafei777 opened #871 "Can widget.Play() animate a plot?"
Is there any possibility to animate a matplotlib plot using the Play widget?

I can only find the example in which a Slider and a Play were linked. But how can I link a plot?

What I want to do is just plot a scatter that the number of points increase when I hit the 'start' button on the Play widget.

Thanks for any possible solution.

[2016-11-03 02:17] dmadeka commented on #871
Hello, I'm not sure about matplotlib. But it's very easy using bqplot, the Wealth of Nations example does exactly this actually.

----- Original Message -----
From: 李 亚飞 <reply@reply.github.com>
To: ipywidgets@noreply.github.com
At: 02-Nov-2016 22:08:47

Is there any possibility to animate a matplotlib plot using the Play widget?
I can only find the example in which a Slider and a Play were linked

[2016-11-03 08:14] SylvainCorlay commented on #871
[won](https://github.com/bloomberg/bqplot/raw/master/bqplot-screencast.gif)

[2016-11-03 23:20] justinmc opened #876 "Select broken in 6.0.0b2"
Not sure if you guys are already aware of bugginess in Select in the beta releases, but I tried upgrading and noticed Selects weren't working so thought I'd submit this.  Setting `value` on a Select seems to be broken in 6.0.0b1 and b2.

    import ipywidgets
    from IPython.display import display
    select = ipywidgets.Select(
         options={'ok': 'ok', 'yes': 'yes', 'maybe': 'maybe', 'whate

[2016-11-04 01:03] jasongrout commented on #876
Thanks for lettings us know. I've confirmed the issue. Investigating...

[2016-11-04 01:07] jasongrout commented on #876
It looks like this commit didn't fix all the places where `selected_label` was used: https://github.com/ipython/ipywidgets/commit/aef3069a3b965bd675d983fa3952aec2c2067620

[2016-11-04 02:48] DonJayamanne opened #877 "Question - Can i use ipywidgets without a notebook"
Can I use the [Jupyter_client](https://jupyter-client.readthedocs.io/en/latest/messaging.html#python-api) api to execute code against a kernel and still use ipywidgets?

Currently when I do this, I get the following response from the Kernel:
[code]

Note: The  widgetsnbextension is already enabled.
[code]

[2016-11-04 08:43] jasongrout commented on #876
Looks like it might have @afshin's commit: https://github.com/ipython/ipywidgets/commit/5b47aaac9285ec961e43525cc1dea2e9047b7edd#diff-61326cb05eb256df11c903abf2527196R605 - that's where it is switched from using the model's `value` attribute to a `selected_label` attribute, though it doesn't appear that such an attribute exists on the model.

[2016-11-04 08:43] jasongrout commented on #876
Of course, we should have caught that on review of @afshin's PR too.

[2016-11-04 09:00] SylvainCorlay commented on #877
It is possible to embed widgets in a webpage, just like what you can see here:

jupyter.org/widgets

The equivalent with a connected back end is not supported yet.

[2016-11-04 09:54] DonJayamanne commented on #877
@SylvainCorlay
When you say "It is possible to embed widgets in a **webpage**" just like what you can see here:"
Don't you mean **notebook** instead of **webpage**

[2016-11-04 09:57] SylvainCorlay commented on #877
No I mean that you can embed widgets in your blog or personal website.

[2016-11-04 10:06] DonJayamanne commented on #877
@SylvainCorlay
How's that done? Is that just some hardcoded JavaScript (markup in the webpage) or is the following Python code (executed on the server) to generate the javascript?
[code]

Looking at the examples, they are executed in notebooks (which in turn generate javascript rendered on the webpage).

The widgets to my knowledge is basically a bunch of javascript code + data generated by the Py

[2016-11-04 11:37] PhML commented on #643
@gnestor Have you tried my sample?
First select some sites, then a child, then some other sites. Now, when you try to select a child, it often «jump» to another one than the one that you selected.
I use the version 5.2.2.

[2016-11-04 11:46] PhML opened #880 "Possibility to get key of selected items in Select(Multiple)"
I want to add a button that delete selected elements from the option dictionary. To do it I need the selected key, not the value.
Would it be possible to add a `selected_key` or `selected_item` attribute to the select widget?

[2016-11-04 13:08] SylvainCorlay commented on #877
You author your widgets / visualization from the notebook. Then in the menu `Widgets -> Embed Widgets` will give you a copy-pastable snippet of HTML code.

[2016-11-04 13:33] jasongrout commented on #877
The javascript is loaded independently, it's not generated by the python. The *state* of the widgets is communicated back and forth with python. You can embed the javascript + initial state (which provides some interaction that is entirely in javascript). Check out the [examples](https://github.com/ipython/ipywidgets/tree/master/jupyter-js-widgets) in the jupyter-js-widgets repo, or use the 'Embed

[2016-11-04 15:36] #876 closed

[2016-11-04 16:26] afshin commented on #876
D'oh! I missed that; *mea culpa*.

:sweat_smile:

[2016-11-04 17:04] SylvainCorlay commented on #876
@afshin actually, the change from `selected_item` to `value` happened around the same time as your PR, so it is almost certainly a rebase thing :)

[2016-11-05 11:44] jasongrout opened #882 "Descriptions and other values not set in widget_selection"
The stale handling in updates in widget_selection.ts means that often the description or other attributes are not updated.

We should make a standard base class `LabeledDOMWidgetView` or something, that has a `this.label` added automatically, and automatically handles changes to the description attribute.

There are other attributes that are not handled as well, such as button style, etc.

[2016-11-05 12:45] jasongrout commented on #643
I just tried both samples with current master (6.0.0b2 + some commits), and they seem to work fine.

I did notice another bug, which I fixed: #883.

[2016-11-05 13:15] #882 closed

[2016-11-08 18:41] jasongrout commented on #877
Closing as answered - please reopen if you have more questions or want to continue the discussion.

[2016-11-08 18:41] #877 closed

[2016-11-08 18:44] jasongrout commented on #871
Link to Wealth of Nations example: https://github.com/bloomberg/bqplot/blob/master/examples/Applications/Wealth%20of%20Nations.ipynb

Also CC @tcaswell about the matplotlib-specific part of this.

(Closing as answered, but please reopen if you'd like to continue the discussion or have further questions)

[2016-11-08 18:44] #871 closed

[2016-11-08 18:51] jasongrout commented on #836
We decided to leave the embed files in the package, but in a separate directory from jupyter-js-widgets.

[2016-11-08 18:51] #836 closed

[2016-11-08 18:54] jasongrout commented on #811
Closed as too broad.

[2016-11-08 18:54] #811 closed

[2016-11-08 18:58] jasongrout commented on #793
Closing as answered. Please reopen if you'd like to continue the conversation.

[2016-11-08 18:58] #793 closed

[2016-11-08 19:00] jasongrout commented on #772
Closing as answered - please reopen if you'd like to continue the conversation.

[2016-11-08 19:00] #772 closed

[2016-11-08 19:05] jasongrout commented on #752
Great idea!

[2016-11-08 19:12] jasongrout commented on #707
Closing as inactive - please reopen if you'd like to continue the discussion.

[2016-11-08 19:12] #707 closed

[2016-11-08 19:18] jasongrout commented on #694
This sounds like a great idea.

[2016-11-08 19:20] gnestor commented on #643
I can verify that it's working on master. I'm closing. Re-open if you see this in the next release.

[2016-11-08 19:20] #643 closed

[2016-11-08 19:23] jasongrout commented on #676
Closed as working on master, which will be released as soon as 6.0. Thanks for bringing this up!

[2016-11-08 19:23] #676 closed

[2016-11-08 19:25] jasongrout commented on #674
Closing as fixed in master and will be in 6.0.

[2016-11-08 19:25] #674 closed

[2016-11-08 19:29] jasongrout commented on #654
Note to self: check the documentation, and close if the docs are updated.

[2016-11-08 19:41] jasongrout commented on #694
Duplicate of #574.

[2016-11-08 19:41] #694 closed

[2016-11-08 19:42] jasongrout commented on #569
Will this still be an issue with the 6.0 upgrade?

[2016-11-08 19:44] jasongrout commented on #527
This is fixed now in master.

[2016-11-08 19:44] #527 closed

[2016-11-08 19:45] jasongrout commented on #463
TODO: check for existence of Object.assign, and close if there are none.

[2016-11-08 19:48] jasongrout commented on #446
Fixed in master, since the top-level value is a Bytes object.

[2016-11-08 19:48] #446 closed

[2016-11-08 19:50] jasongrout commented on #430
Thanks @jdmeyer!

[2016-11-08 19:50] #430 closed

[2016-11-08 19:52] jasongrout commented on #411
This seems to work on master. Please reopen if you are still having issues with this.

[2016-11-08 19:52] #411 closed

[2016-11-08 19:58] jasongrout commented on #316
This is the TODO for this issue. I think it does this in master, but the output widget might be broken in the classic notebook, so we should check this.

[2016-11-08 20:03] jasongrout commented on #252
Can someone post a minimal example showing the problem, @jdfreder?

[2016-11-08 20:05] jasongrout commented on #228
@rgbkrk, I think we're using binary serialization in master now, but we should check to make sure. @minrk, was your #231 to fix this issue?

[2016-11-08 20:06] jasongrout commented on #206
@SylvainCorlay says this is not relevant any more since the code has moved way beyond this.

[2016-11-08 20:06] #206 closed

[2016-11-08 20:07] jasongrout commented on #197
This is a scikit-image problem. We should change the example or block the warning, perhaps?

[2016-11-08 20:08] jasongrout commented on #197
CC @blink1073, since he knows how to fix it :).

[2016-11-08 20:10] jasongrout commented on #182
Closing as outdated at this point - we'll try to do another UI refresh for 6.x

[2016-11-08 20:10] #182 closed

[2016-11-08 22:20] aggFTW commented on #793
Thanks @jasongrout !

[2016-11-08 22:26] SylvainCorlay opened #887 "Towards a 6.0 Release"
This is a meta issue for the 6.0 release

1. (DONE) remove widgets snapshot features This will require using live widget embedding in the documentation

2. busy icon for saving embeddable widgets

3. (DONE) Complete css refactoring

     - horizontal space
     - baseline alignment
     - controller widget css
     - UX of checkbox: click on text...

4. (DONE) semver requirement for models

5. (DO

[2016-11-08 22:30] rgbkrk commented on #228
I think we're good to go on this, I'll go ahead and close.

[2016-11-08 22:30] #228 closed

[2016-11-09 02:24] #197 closed

[2016-11-09 02:32] #746 closed

[2016-11-11 00:42] jasongrout commented on #861
The problem in ipywidgets master is that the checkbox is wider, but the label subelement is not made any wider, it's still fixed at 160px. @SylvainCorlay - thoughts?

[2016-11-11 05:41] jasongrout commented on #844
@gnestor - we can try taking a look at this tomorrow together.

[2016-11-11 06:30] jasongrout commented on #815
Master seems to work fine for me on Firefox 49:

<img width="386" alt="screen shot 2016-11-10 at 10 29 13 pm" src="https://cloud.githubusercontent.com/assets/192614/20206440/2cd13b56-a795-11e6-93ac-67a66f9224ec.png">

Can you tell us what ipywidgets commit you're at that doesn't work in Firefox 49? We're trying to reproduce this.

[2016-11-11 06:34] jasongrout commented on #761
@SylvainCorlay, @gnestor - reading through the above, I'm not sure what the concrete goal for this issue is. Can someone summarize what needs to be done for 6.0?

[2016-11-11 10:47] jasongrout commented on #817
#888 seems to fix the issue with the latex not rendering immediately in my example above.

Should the description accept html? Right now it doesn't by design, but we could change that.

[2016-11-11 10:54] jasongrout commented on #697
@hainm - I'm not reproducing this. Are you still observing it? If so, what version of the notebook were you using, and what version of widgets (both python and javascript side)?

[2016-11-11 10:56] jasongrout commented on #670
It's not working for me in JupyterLab, but it is working for me in the notebook.

[2016-11-11 12:10] jasongrout commented on #670
It appears that widgets inside a jupyterlab Output widget do not trigger the onAttached method, so the displayed promise never gets resolved. Here's a simpler example that doesn't work:

[code]

[2016-11-11 13:59] jasongrout commented on #637
Related to #607.

[2016-11-11 14:02] jasongrout commented on #467
Now on master, it always updates, even when `continuous_update=False`

[2016-11-11 14:16] jasongrout commented on #467
Actually, never mind. It works great on master - the readout updates as you drag the slider always, but the value isn't synced until you let off the slider if you have `continuous_update=False`

![selectionslider](https://cloud.githubusercontent.com/assets/192614/20217793/5c13d414-a7d6-11e6-995d-22223ecb8aa6.gif)

[2016-11-11 14:16] #467 closed

[2016-11-11 14:26] jasongrout commented on #612
Thanks for reporting this. It seems to work well now in master:

![empty](https://cloud.githubusercontent.com/assets/192614/20217867/ce4ad01e-a7d6-11e6-826c-84eb9d2234e4.gif)

[2016-11-11 14:26] #612 closed

[2016-11-11 14:28] jasongrout commented on #44
The example code is:

[code]

[2016-11-11 16:26] jasongrout commented on #44
At this point: It looks like the example code above does not produce an input in JupyterLab.

[2016-11-11 21:58] denfromufa opened #892 "widgets not displayed in documentation"
https://github.com/ipython/ipywidgets/blob/master/docs/source/examples/Widget%20List.ipynb

[2016-11-11 22:07] denfromufa opened #893 "SelectMultiple Widgets, but with CheckBoxes or RadioButtons"
SelectMultiple widget is nice, but does not allow to make persistent selection without pressing CTRL/SHIFT. Using  CheckBoxes or RadioButtons will make the selection do not disappear, if CTRL/SHIFT not pressed.

What is the use case? Scrolling through the list in SelectMultiple with UP and DOWN keys and making selection by pressing SPACEBAR without any need for mouse. Also this allows to quickly n

[2016-11-11 22:09] denfromufa commented on #892
also here:

*Data type cannot be displayed: application/vnd.jupyter.widget*

https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html#SelectMultiple

[2016-11-11 23:02] #654 closed

[2016-11-11 23:36] jasongrout commented on #226
A design question: what should the default be in this case, where an int slider is created?

[code]

Before, `x=5` was the default, but now `x=1` is the default. Which should it be?

[2016-11-11 23:38] jasongrout commented on #226
Some design questions are over on the PR at #891.

[2016-11-11 23:54] jasongrout commented on #226
In addition to some issues with extending this idea noted in #891, how about this example?

[code]

Should that default to a? I think so, but we can't distinguish that from the example in the OP. That makes me think that the answer to this issue is 'no, the appropriate way to set a default when giving a widget is to set the value in the widget'. @Carreau, thoughts?

[2016-11-12 01:17] paul-shannon commented on #838
Two repos, both present a simple jupyter widget: a d3 canvas on which circles are drawn in response to python function calls, or by directly clicking on the d3 canvas.

The first demo (possibly useful as a tutorial also) is simple, with all code self-contained in one notebook:

  https://github.com/paul-shannon/jupyter-widget-demo-all-in-notebook

The second demo  - to my mind, pretty complex - sh

[2016-11-12 02:48] jasongrout commented on #670
Fixed in #889.

[2016-11-12 02:51] jasongrout commented on #605
@SylvainCorlay - is this done now?

[2016-11-12 02:53] jasongrout commented on #463
Nope, no references to Object.assign

[2016-11-12 02:53] #463 closed

[2016-11-12 08:09] SylvainCorlay opened #895 "Spec"
Two important areas where widgets would benefit from a formal specification

1. A json schema for the static widget serialized manager.

   This should be the simplest part since we effectively use this to power http://jupyter.org/widgets.html

   - It is likely to be complemented with a semver requirement for model modules.
   - At the moment, only the front-end can generate that json, and we sho

[2016-11-12 19:59] mwcraig commented on #674
Just to make sure I understand, the `visible` property is gone in 6.0, right?

[2016-11-12 20:15] SylvainCorlay commented on #674
That is right!

Only `layout.visibility`.

On Nov 12, 2016 11:59 AM, "Matt Craig" <notifications@github.com> wrote:

[2016-11-12 22:50] #670 closed

[2016-11-13 00:27] SylvainCorlay commented on #895
Ping @rgbkrk

[2016-11-13 00:34] SylvainCorlay commented on #895
I would love to have feedback on the form the spec should have

1. First item

 - documentation + jsonschema for the format.

2. Second item

 - is there a standard or a good model I should use for inspiration for the spec?

[2016-11-13 04:20] rgbkrk commented on #895
Excellent to see this!

On the slightly more informal route there's [the jupyter message spec](http://jupyter-client.readthedocs.io/en/latest/messaging.html#general-message-format). I personally think that the widgets should carve out a space on that spec that is more tightly defined than just the comms. It can use the comms -- the missing piece is what those messages are and how they get invoked

[2016-11-13 05:14] SylvainCorlay commented on #895
Notes for self (on the plane to Frankfurt)

## Widget Manager State Schema

used e.g. in https://github.com/jupyter/jupyter.github.io/blob/master/assets/pythreejs-example.json

[code]

 - The serialized widget manager is a set of key-value pairs where the key is the unique id of the model and the value is the serialized **model**.  The schema for a model state requires specifying a *model name*, a

[2016-11-13 11:08] SylvainCorlay opened #898 "Semver spec for view and and model module"
Possible approach:

Add a semver requirement model attribute for the `_view_module` and for the `_model_module`, defaulting to `*` in the base model.

The loadclass from jupyterlab and the embed manager would use that semver. Not the legacy notebook manager.

[2016-11-14 15:40] jasongrout commented on #844
@gnestor - we didn't end up looking at this. Is it still an issue? If it is, let's set up a time we can debug it together, since I'm not reproducing it.

[2016-11-14 15:50] SylvainCorlay commented on #844
We have the same issue with widget persistence. We only know in which output area a top-level widget is. If the order is not predictable.

[2016-11-14 16:57] SylvainCorlay commented on #898
@jasongrout an issue with `*` is that it fetches the latest, even with the **next** tag.

The default value could be `None` instead, in which case, we would not add a semver requirement at all...

[2016-11-14 19:17] jasongrout commented on #171
We've now upgraded jquery ui to a much more recent version. I just checked, and it seems to work all right in master.

Closing as fixed, but if you see the same issue in master, please reopen.

![rangeslider](https://cloud.githubusercontent.com/assets/192614/20279069/0c03a7b4-aa75-11e6-9ca8-994b9ec14c43.gif)

[2016-11-14 19:17] #171 closed

[2016-11-14 19:36] jasongrout commented on #163
This seems to work in JupyterLab, but it still does not work in the notebook:

![interactive-notebook](https://cloud.githubusercontent.com/assets/192614/20279733/b49e92ce-aa77-11e6-9c93-e01acc31b7d2.gif)

[2016-11-14 21:03] jasongrout commented on #699
There is now a 4px padding between the icon and the text:
<img width="486" alt="screen shot 2016-11-14 at 4 03 03 pm" src="https://cloud.githubusercontent.com/assets/192614/20282698/dd280caa-aa83-11e6-8d9c-c9d5e8442f47.png">

[2016-11-14 21:03] #699 closed

[2016-11-14 21:26] jasongrout commented on #348
This seems to work now. Do you agree it is fixed in ipywidgets master/notebook 4.2.3?

![expand](https://cloud.githubusercontent.com/assets/192614/20283437/100a4f7c-aa87-11e6-9080-5d63c269fd3e.gif)

[2016-11-14 21:26] jasongrout commented on #348
@ellisonbg ^

[2016-11-14 21:33] jasongrout commented on #337
We do not have `_validate_border` anymore. We do still have a `__del__` method on widgets, though.

[2016-11-14 21:40] jasongrout commented on #163
This might be related to #316.

[2016-11-14 21:50] jasongrout commented on #44
Looking at this a bit more - both the notebook and JLab properly ask for inputs when doing something like:

[code]

However, neither ask for input on a button click like above, and looking at the messages, the notebook doesn't even get the stdin message. Given Jon's statements about work involved, I'm moving this to a feature request after 6.x (likely it will actually be a PR to the ipykernel repo

[2016-11-15 09:52] SylvainCorlay commented on #898
Closed by #899 .

[2016-11-15 09:52] #898 closed

[2016-11-15 09:53] SylvainCorlay commented on #895
New version of the spec since #898

{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "description": "Jupyter Interactive Widget State JSON schema.",
    "type": "object",
    "additionalProperties": true,
    "additionalProperties" : {
        "type": "object",
        "properties": {
            "model_name": { "type": "string" },
            "model_module": { "type": "string" },

[2016-11-15 18:55] jasongrout commented on #226
@Carreau, @SylvainCorlay - I propose we close this as not implemented by design, given the example above. Thoughts?

[2016-11-15 18:57] SylvainCorlay commented on #226
Sounds good to me.

[2016-11-15 19:27] jbednar commented on #16
@SylvainCorlay, can you confirm whether there will soon be static export of ipywidgets?  We're at this very moment trying to find a different widget library so that we can switch to it for that feature alone, but if we should be staying with ipywidgets and just need to hold on for a few days longer, please let us know!

[2016-11-15 19:33] SylvainCorlay commented on #16
Yes! There is already. For example on http://jupyter.org/widgets, widgets are live.

With 6.0 in a few days, widgets will also be embeddable in sphinx documentation.

Nbconvert will follow.

[2016-11-15 19:40] jbednar commented on #16
Great, thanks!  The live widgets at that link are great, but none of those are for the standard sliders, selection boxes, text entry boxes, etc. that we are using ipywidgets for. Presumably those are also now supported?  Nbconvert is indeed my main use case, but we can probably work with Sphinx if that's the only currently supported way.

[2016-11-15 19:42] SylvainCorlay commented on #16
All of these are supported. The widgets in that page are built upon `ipywidgets`. I will add a tab with some simple dropdowns and buttons.

We have had static widgets since 5.0. The nbconvert part is the only reason why this issue is not closed yet.

[2016-11-15 19:46] jbednar commented on #16
Sounds great.  Getting nbconvert support is crucial for people even to know that static support is available.  Presumably documentation is also needed before closing the issue?

[2016-11-15 19:48] jasongrout commented on #226
Thanks. Closing this as by design. If you'd like to set the default for an explicit widget, please explicitly set the default in the widget creation.

Another reason for not doing this is that if we are sharing a widget among different interacts, it gets really confusing what the value is if it is being set every time a new interact is called.

Please re-open if anyone has further arguments for wh

[2016-11-15 19:48] #226 closed

[2016-11-15 19:49] SylvainCorlay commented on #16
Yes. We are currently formalizing the spec for the format of the serialized widgets. cf #901

[2016-11-15 19:57] jbednar commented on #16
With the goal of serialization being to generate and insert that HTML snippet directly, without user cutting and pasting?  That does sound crucial for this to be usable in practice, thanks.

[2016-11-15 20:00] SylvainCorlay commented on #16
I don't understand your question, but the html snippet feature will remain for those who want to embed in webpages, blogs.

The nbconvert question is more about the choice of how the widget state is stored in the notebook format.

[2016-11-15 20:02] jasongrout opened #903 "Dropdown throws confusing error when options is not specified"
This apparently used to work (it's in the alignment example notebook):

[code]

It doesn't now, but the error is very confusing. We should make a validator if we want to insist that the options list is nonempty.

[2016-11-15 20:08] jbednar commented on #16
I just mean that nbconvert converts .ipynb to .html, and presumably when one does so one won't need to paste in the HTML snippets that create the widgets, by hand?  Basically I just want the widgets to be preserved in the exported file, with the values they had at that time as their starting point, whether or not they are hooked up to anything that actually does something in the exported HTML.  E.

[2016-11-15 20:12] SylvainCorlay commented on #16
👍 got that. Stay tuned. :)

[2016-11-15 20:16] jbednar commented on #16
Fabulous!  I'll hand you a drink as you sprint by, if I see you!

[2016-11-15 21:59] jasongrout opened #904 "Fix alignment of text in widgets"
Some of the widgets have slightly vertically offset text. I checked this using:

[code]
and then using a horizontal guideline to check vertical alignment of text across all of the widgets.

Here it is on master with Jupyter notebook:

<img width="1409" alt="screen shot 2016-11-16 at 11 36 31 am" src="https://cloud.githubusercontent.com/assets/192614/20356262/ffc3cf1e-abf1-11e6-9124-74a1f1ac9712.pn

[2016-11-16 13:19] SylvainCorlay opened #907 "Embedding mechanism"
**Current Mechanism used on http://jupyter.org/widgets**

1. Embed manager script tag from cdn
2. Script tag with `type=application/vnd.jupyter-embedded-widgets` containing the widget manager state.

    The format for this state is the one described here:

    https://github.com/ipython/ipywidgets/blob/master/ipywidgets/state.schema.json

    before we wrote the spec, so without the version infor

[2016-11-16 13:19] SylvainCorlay commented on #907
Ping @michaelpacer @minrk @jasongrout

[2016-11-16 13:25] jasongrout commented on #907
We've been using `application/vnd.jupyter.<something>` for mime types, in accordance with https://tools.ietf.org/html/rfc6838#section-3.2. (We should register the `jupyter` name for this to be really official, though...)

[2016-11-16 13:33] SylvainCorlay commented on #907
OK edited the description.

[2016-11-16 13:39] SylvainCorlay commented on #907
@michaelpacer this is orthogonal to the current png repr in the mime bundle that is used to achieve

this: https://github.com/ipython/ipywidgets/blob/master/docs/source/examples/Factoring.ipynb

[2016-11-16 13:44] jasongrout commented on #907
Thanks. The example I quoted still should be changed :).

[2016-11-16 13:46] SylvainCorlay commented on #907
...

[2016-11-16 13:47] SylvainCorlay commented on #907
^ @jasongrout

[2016-11-16 14:43] jasongrout commented on #907
Doh!

[2016-11-16 16:06] gwvr commented on #715
Further to the previous comments, I've tried and failed to layout widgets to my satisfaction.
I'd really appreciate improved documentation on the usage of the layout widgets - in particular the usage of `Box`, `HBox` & `VBox` with `interact`, `@interact` & `interactive`.

The issues I've encountered are:

1. Layout of multiple widgets in a two column layout - I've only managed to achieve this with

[2016-11-16 16:13] jasongrout commented on #904
Here is what it looks like after a few tweaks in JLab. I added a horizontal guide one pixel below the baseline for the label.

<img width="1424" alt="screen shot 2016-11-16 at 11 11 35 am" src="https://cloud.githubusercontent.com/assets/192614/20354928/a4e710a0-abed-11e6-86b4-8c055d55016b.png">

[2016-11-16 16:18] jasongrout commented on #904
Here's what it looks like in the Jupyter notebook:

<img width="1405" alt="screen shot 2016-11-16 at 11 16 24 am" src="https://cloud.githubusercontent.com/assets/192614/20355098/2edf7126-abee-11e6-8524-1116c71a8b19.png">

[2016-11-16 16:18] jasongrout commented on #904
Here's what it looks like in the Jupyter notebook:

<img width="1405" alt="screen shot 2016-11-16 at 11 16 24 am" src="https://cloud.githubusercontent.com/assets/192614/20355098/2edf7126-abee-11e6-8524-1116c71a8b19.png">

[2016-11-16 16:24] SylvainCorlay commented on #904
- The selectMultiple is the worst.
- I guess we should not try to do anything about the HTML widget which is intentionally bare.

[2016-11-16 16:27] jasongrout commented on #904
The selectMultiple is also one of the hardest to style.

Point taken about the HTML widget, though it would be nice if by default it at least had the same baseline and/or lineheight.

[2016-11-16 16:51] jasongrout commented on #904
Note also that the widths of the controls don't line up very well.

[2016-11-16 16:53] jasongrout commented on #904
CC @cameronoelsen

[2016-11-16 16:53] jasongrout commented on #904
CC @ellisonbg

[2016-11-16 21:50] jasongrout opened #910 "Provide a way to easily create and layout widgets for something like interact"
From @gvwr at https://github.com/ipython/ipywidgets/issues/715#issuecomment-260986825:

Further to the previous comments, I've tried and failed to layout widgets to my satisfaction.
I'd really appreciate improved documentation on the usage of the layout widgets - in particular the usage of `Box`, `HBox` & `VBox` with `interact`, `@interact` & `interactive`.

The issues I've encountered are:

1. La

[2016-11-16 21:51] jasongrout commented on #910
@gwvr - it would be great to see your test notebook, if you can link it here.

As it stands now, Box, HBox, and VBox aren't meant to be used with interact or interactive. If you want the system to lay out the widgets very simply and automatically, use interact or interactive. If you want control over how the widgets are layed out, use the HBox and VBox, creating your own widgets. Unfortunately, th

[2016-11-16 21:52] jasongrout commented on #715
@gwvr - thanks for bringing this up. This is a separate request from the one on this issue, so I've opened a new issue for your comment. Can we continue discussion there? #910.

[2016-11-17 04:46] jasongrout commented on #348
Closing as fixed - please reopen if you are still seeing this issue, or if the example above is not the same as the issue you are documenting.

[2016-11-17 04:46] #348 closed

[2016-11-17 05:21] jasongrout commented on #44
Closed in deference to https://github.com/jupyterlab/jupyterlab/issues/1254

[2016-11-17 05:21] #44 closed

[2016-11-17 07:54] michaelpacer commented on #907
Ok, thanks for the heads up.

I'm still not sure what the best way to deal with widgets in static documents is.

I have some thoughts but I'm guessing that looking at the actual code will help to refine those thoughts. Could someone point me to the widget drawing code (for live drawing on display) and the current mechanism for generating the png representations?

[2016-11-17 12:42] gwvr commented on #910
A middle ground would be great. It's hooking multiple widgets up to the function(s) manually that scares me.

My example notebook with a plotting function that I've been using to get to grips with ipywidgets.

My kludgey method for laying out the widgets looks like this:
[code]

I'd prefer to be able to use something like this:
[code]

I'm not saying that's the right way to do it. I don't know how

[2016-11-17 12:46] gwvr commented on #910
I've attached the stripped example notebook as text.
[widget_wave.ipynb.txt](https://github.com/ipython/ipywidgets/files/597346/widget_wave.ipynb.txt)

[2016-11-17 13:57] martinRenou opened #911 "Instantiate a widget from javascript"
Hi,

I'm currently developing an nbextension for Jupyter Notebook, and I would like to know if it's possible and what is the proper way to instantiate a widget from javascript. Meaning directly in the render function of my widget, in order to have a complete GUI with some widgets in this widget.

You'll maybe ask me "Why would you want to do that ? Instantiate it on server side !". In fact my GUI

[2016-11-17 19:06] jasongrout commented on #911
Are you wanting to have any communication with objects in the kernel?

[2016-11-17 19:13] martinRenou commented on #911
Well, it's not really necessary. In fact, I thought about it and if I just instantiate DOM Elements (the views) of ipywidgets and use my own events on them it would be ok. If data stay on front end (at least for those sub widgets) it's ok for me.

[2016-11-18 15:52] alexshires commented on #637
+!

[2016-11-21 08:56] fkjogu opened #913 ""Using Interact.ipynb" in the docs is not valid JSON and can't be opened"
The file [docs/source/examples/Using Interact.ipynb](https://github.com/ipython/ipywidgets/blob/master/docs/source/examples/Using%20Interact.ipynb) in the docs is not valid JSON and can't be opened. Maybe something went wrong, when exporting it?

[2016-11-21 09:01] martinRenou commented on #911
I decided to create my own DOM elements with JQueryUI, like it's done in ipywidgets, and respecting CSS. So sad that we can't use some widgets without sync with the kernel...
Thanks anyway,
I close it

[2016-11-21 09:01] #911 closed

[2016-11-22 22:42] jasongrout commented on #911
I think if I were you, I'd just use the UI elements directly (e.g., directly instantiate a slider where you need it, etc.). I probably wouldn't use widgets at all.

[2016-11-22 22:59] jasongrout commented on #910
How about something like this (not tested):

[code]

[2016-11-23 14:53] gwvr commented on #910
Thanks!
I've just tested your code - to make it run I had to change
[code]
in `interact_hookup` to
[code]

It does work, but there are two minor issues:

1. The output isn't drawn with the widgets when the cell is first run
2. The output isn't cleared when the widgets are used - the new output is appended below the previous output

The widgets are laid out as intended though, so it's pretty close

[2016-11-23 16:39] jasongrout commented on #910
I updated the code example to take care of the initial run.

[2016-11-23 17:14] jasongrout commented on #910
For the currently released ipywidgets, this probably works better:

[code]

and then remove the references to output in the other code.

[2016-11-23 17:58] gwvr commented on #910
This works very nicely:

[code]
The last two lines should be in the same cell.

Many thanks!
Is this function (or something like it) likely to make it into a future version of ipywidgets?

[2016-11-23 18:57] jasongrout commented on #910
Yes, I think it would be great. Would you like to submit a pull request adding it? We should use the version in the first comment (with the Output widget) in the current widgets master.

[2016-11-23 18:59] jasongrout commented on #910
Also, another enhancement (not necessary for an initial pull request) would be to automatically create widgets with the same conventions as `@interact`, so `interact_hookup` could take some abbreviations like `(1,2)`, etc.

[2016-11-23 18:59] jasongrout commented on #910
And we should probably come up with a better name than `interact_hookup` :)

[2016-11-23 22:20] colin-svds commented on #892
Still a problem. What's the solution here? Roll it back?

[2016-11-24 03:20] jasongrout commented on #892
Wow. The classic notebook ignores data types it can't display. It seems like we should:

(a) make the documentation generator understand the widget mimetype and know how to display it
(b) make whatever is generating the docs ignore the widget mimetype,
(c) or complete the process of moving the classic notebook over to using the widget output type so we can put a text/plain mimetype in that message

[2016-11-24 03:20] jasongrout commented on #892
Or perhaps we should just clear the outputs in the notebook, which should clear out those outputs?

[2016-11-24 03:29] #913 closed

[2016-11-24 03:29] jasongrout commented on #913
Thanks. That was my fault.

[2016-11-24 04:19] jasongrout opened #917 "Use python 3's `inspect.signature` method for interacts"
It's smarter about wrapped functions, for example. We might need to use a backport like https://github.com/aliles/funcsigs if we need to support python 2 by the time we implement this.

[2016-11-24 04:35] jasongrout commented on #809
As discussed above, I think an extension rendering json for the user is more properly done as a classic notebook extension or a plugin in jupyterlab, both of which are apparently in Grant's repo noted above. Let's move the discussion to his repo: https://github.com/gnestor/notebook_json

[2016-11-24 04:35] #809 closed

[2016-11-24 05:15] #904 closed

[2016-11-24 06:37] gnestor commented on #761
Based on my last convo with @SylvainCorlay, I think that he is going to work on sphinx extension for embedding interactive widgets in the docs. I don't know the details but I don't think that a 6.0 release needs to wait on this...

[2016-11-24 07:01] gnestor commented on #851
I'm getting a similar result but different error when trying to save snapshots of Widget Styling.ipynb:

[code]

[2016-11-24 07:15] gnestor commented on #761
I can confirm that the issue with Widget List docs is that the widget snapshots are not saved in the notebook, so [outputs of `application/vnd.jupyter.widget` mime type](https://github.com/ipython/ipywidgets/blame/master/docs/source/examples/Widget%20List.ipynb#L147-L155) cannot be rendered (by nbconvert when building the docs). Conversely, widget snapshots were saved in Widget Basics, so it has [

[2016-11-24 07:35] gnestor commented on #844
@jasongrout I'm still encountering this in the notebook at master. Lab is working as expected. Regarding widget persistence, see https://github.com/ipython/ipywidgets/issues/624#issuecomment-256181338.

[2016-11-24 10:14] gwvr commented on #910
I'll see what I can do over the weekend.

[2016-11-24 11:51] minrk commented on #917
IPython already ships a backport of signatures in `IPython.utils.signatures`, so you could rely on that for Python 2.

[2016-11-24 11:55] SylvainCorlay commented on #892
@jasongrout I am out until the end of the week but the sphinx extension will understand a widgets mimetype. However, as per the [written proposal](https://github.com/ipython/ipywidgets/issues/907), it will not exactly be the same thing as in widgets 5.

[2016-11-24 16:09] jasongrout commented on #760
Changing to 6.0 for Sage compatibility

[2016-11-26 01:08] jasongrout commented on #917
Oh nice, thanks!

[2016-11-27 10:31] pbugnion opened #920 "Ability to set border edges independently"
If I'm not mistaken, `widget.layout.border` gets translated into adding the CSS `border` property. This property is short-hand for three separate border properties: `border-width`, `border-style`, and `border-color`. By forcing someone to use the shorthand `border` property, rather than the individual properties, there is no way to set different border types for the different border edges. There i

[2016-11-27 11:58] SylvainCorlay commented on #920
@pbugnion thanks for opening the issue.

Whenever there is a shorthand for multiple properties (like border / margin / padding) this is the one that we have been exposing for the sake of simplicity. (So no border-[top/right/bottom/left]) properties were exposed.

Overall, I think that at least `border-width` should be added because it is part of the css box model.

@jasongrout thoughts?

[2016-11-27 12:46] SylvainCorlay commented on #920
Some quick technical background on this.

If you set `border` to `1px solid blue` and then `border-width` to `2px`, the `border` property is changed back to `2px solid blue`. If you modify `border-width` again to `2px 4px`, the `border` property is changed to `''`.

So shorthand properties are bound to properties in a complex fashion so that we cannot expose them both through traitlets.

Therefore

[2016-11-27 14:28] pbugnion commented on #920
Hmm... CSS is complicated.

Would there be scope for making the backward incompatible change in the next release?

Alternatively, could we overload the `border` traitlet? For instance:

[code]

I appreciate that this would be different to the current layout traitlets, which have a near 1-to-1 mapping with underlying CSS properties.

A very different option which would address my problem (but not t

[2016-11-28 10:39] martinRenou commented on #911
That's what I did, thanks for your answer

[2016-11-28 14:35] jasongrout commented on #920
Yes, since it is a major release. However, I think we've been changing the way widgets can be styled pretty much every time we could for a long time - no doubt some people are getting tired of changing their code. But I think you're right that we don't have it right yet.

I think this makes a lot of sense on its own. It's fragile to get a table layout from hbox/vbox combinations, I think.

It's a

[2016-11-29 07:43] pbugnion commented on #920
Thanks for your help!

Is that a tentative +1 for a PR deprecating `border` in favour of `border_style`, `border_width` and `border_color`?

For the tabular arrangement of widgets, would there be interest in including this in core ipywidgets, or should I set up another repository?

[2016-11-29 08:14] SylvainCorlay commented on #920
I just don't know how to deprecate without conflicting between the two implementations.

[2016-11-30 08:16] pbugnion commented on #920
I guess one way would be to keep the `border` property synchronised with `border_style`, `border_width` and `border_color` at the traitlets level. Something like this:

[code]

This is somewhat ugly since we would be re-implementing a lot of CSS validation at the widget layer.

[2016-11-30 20:36] infinity0 opened #923 "Live widgets in documentation seems not to work"
Hi, we're trying to package this for Debian. (Doing version 5.2.2 at the moment.) We've managed to get this working in Jupyter Notebook, but the documentation seems to not work. It looks like this is an issue on your end, rather than ours - I'm just asking to confirm this?

I am guessing the images are supposed to be made "live" via this sort of markup:

[code]

which we're generating correctly I

[2016-12-01 14:20] #800 closed

[2016-12-01 14:20] #907 closed

[2016-12-04 02:59] SylvainCorlay commented on #895
Closing since we now have

- the  `jupyter-widgets-schema` npm package holding the spec for static widget state and view.
- corresponding documentation on embedding.

I am openning another issue on the protocol spec.

[2016-12-04 02:59] #895 closed

[2016-12-04 03:00] SylvainCorlay commented on #892
Some progress on the sphinx extension:

![sphinx](https://cloud.githubusercontent.com/assets/2397974/20863758/1ed64e4e-b9d6-11e6-8326-9204b37710ac.gif)

[2016-12-04 21:35] OliverEvans96 opened #939 "Jupyter Widgets JupyterLab Extension install instructions"
jupyterlab_widgets/README.md says:

[code]

But there is no labextension subdirectory. It should probably say:
[code]

Thanks,
Oliver

[2016-12-04 22:04] OliverEvans96 opened #940 "JupyterLab Extension install fail"
I ran dev-install.sh as root and received the following error.
I'm on Arch Linux with node.js v7.2.0, and npm 4.0.3

[code]

Here's the npm-debug.log file:
[npm-debug.log.txt](https://github.com/ipython/ipywidgets/files/629861/npm-debug.log.txt)

Thanks for the great package. I appreciate any insight anyone might have!

Thanks,
Oliver

[2016-12-05 20:23] SylvainCorlay commented on #939
Good catch! Do you want to open a PR?

[2016-12-05 23:37] OliverEvans96 commented on #939
Yes, thanks! https://github.com/ipython/ipywidgets/pull/942

[2016-12-05 23:37] #939 closed

[2016-12-06 00:20] OliverEvans96 commented on #940
I ran it again not as root after:

[code]
then run the dev-install instructions

As recommended by @SylvainCorlay in https://github.com/ipython/ipywidgets/issues/662:

[2016-12-06 00:20] #940 closed

[2016-12-06 01:53] jasongrout opened #943 "model.on_some_change subtly breaks sometimes"
The `WidgetModel.on_some_change` uses `this.hasChanged`, but if a previous change handler has called `this.touch()` or has saved a value (or maybe even just set a value??), the changed dictionary is wiped out, and `on_some_change` then does not fire.

We see this in bqplot, in the last few cells of the https://github.com/bloomberg/bqplot/blob/e3501c367af3f91559d702896ec49ba73189a614/examples/Advan

[2016-12-06 18:08] lrq3000 commented on #624
Thank you guys for investigating this issue :)

[2016-12-06 18:46] jasongrout opened #945 "Call phosphor resize after Layout properties are applied"

[2016-12-06 19:29] jasongrout commented on #605
Yes, it's done now.

[2016-12-06 19:32] jasongrout commented on #815
Closing since there was no reply. Please reopen if you're still seeing an issue.

[2016-12-06 19:32] #815 closed

[2016-12-06 19:34] jasongrout commented on #761
Assigning to Sylvain because it has to do with the sphinx extension.

[2016-12-06 19:37] jasongrout commented on #697
Closing since there was no response. Please reopen if this is still an issue.

[2016-12-06 19:37] #697 closed

[2016-12-06 19:40] michaelpacer commented on #761
To the extent that this relates to how we handle widgets in nbconvert: this PR https://github.com/jupyter/nbconvert/pull/482 and this issue https://github.com/jupyter/nbconvert/issue/481 may be relevant.

[2016-12-06 19:41] jasongrout commented on #637
For whoever implements this, the above comment is a different issue than clearing outputs. The above comment is about not storing state in the notebook, which is covered in #638. This issue is about clearing outputs.

[2016-12-06 19:43] jasongrout commented on #631
Related to #638.

[2016-12-06 19:44] jasongrout commented on #624
Related to #638.

[2016-12-06 19:44] jasongrout commented on #622
I think this can be closed now.

[2016-12-06 19:44] #622 closed

[2016-12-06 19:46] hainm commented on #697
I am sorry, not sure why I missed this notification. Yes, I will reopen this if encountering the issue again. thanks.

[2016-12-06 21:32] jasongrout opened #946 "Progress bar style not updating if value starts at 0"
With notebook ce575f7a5ab625ea044709659cf6aebe264098e0:

[code]
doesn't display the right color in the progress bar, but this does:
[code]
<img width="492" alt="screen shot 2016-12-06 at 1 29 56 pm" src="https://cloud.githubusercontent.com/assets/192614/20944431/48f690c4-bbb8-11e6-9503-353a5283dddd.png">

[2016-12-06 22:59] jasongrout commented on #844
I didn't see it because I was on notebook 4.2.3. Bisecting shows this commit is the problem: 4df331476123aa874a1d321ad945804b6df17e8c

[2016-12-06 23:06] jasongrout commented on #844
Indeed, commenting out those lines in master makes the problem go away.

[2016-12-07 09:51] michaelpacer opened #951 "When installing as an editable install, overwrites nbformat editable install"
On master, `pip install -e .` will cause

[code]

[2016-12-07 10:11] SylvainCorlay commented on #951
Closing as per in-person discussion with @michaelpacer.

[2016-12-07 10:11] #951 closed

[2016-12-07 15:19] gnestor commented on #844
@jasongrout Good find! How strange, though. Do you understand how providing the Promise polyfill via webpack caused an issue with the ordering of widgets vs. providing via bower?

[2016-12-07 17:44] jasongrout commented on #844
The Promise polyfill by webpack, to my understanding, was done wrong (it wasn't actually providing a Promise object). I'm very surprised that webpack plugin didn't break everything completely. My guess is that there is some subtle race condition in acting on the messages from the kernel, but I didn't investigate that far.

[2016-12-07 17:48] jasongrout commented on #844
Though looking at the es6-promise code, it looks like it should work these days. Now I'm a bit more puzzled - I may dig deeper after all.

[2016-12-07 19:45] #903 closed

[2016-12-07 20:01] #844 closed

[2016-12-07 22:43] rmenegaux opened #952 "Dropdown hogs Return, Up and Down keys"
I could not unbind keyboard events from a `Dropdown`. If I interact with a `Dropdown`, then the Return, Up, and Down keys are locked to the `Dropdown` for the whole notebook

Here's how to reproduce this:
- Create a Dropdown
[code]
- Click on the Dropdown
- Click another cell, or anywhere that should normally deactivate the Dropdown.
- Now try to press the Return key, it will jump to the Dropdown

[2016-12-08 15:12] SylvainCorlay commented on #851
We just removed the ability to save png snapshots, so closing this issue.

[2016-12-08 15:12] #851 closed

[2016-12-08 16:50] rmenegaux opened #955 "Cannot change Tab if embedded in Accordion"
On ipywidgets master:
If a `Tab` widget is a child of an `Accordion` widget, switching between tabs by clicking does not work:
[code]
Changing tabs programmatically (`t.selected_index = 1`) still works as expected.

[2016-12-08 17:21] #638 closed

[2016-12-08 19:24] jbednar commented on #16
How is the sprint coming?  You guys must be winded by now if you've been running flat out for this long! :-)

[2016-12-08 21:47] gnestor commented on #761
@SylvainCorlay What's the current status of the new sphinx extension? When it's ready to generate some docs, ping me here and I can help with that and close this issue out!

[2016-12-09 00:35] SylvainCorlay commented on #761
@gnestor most of it is there.
The nbsphinx PR https://github.com/spatialaudio/nbsphinx/pull/76 should get merged soon which is the last missing piece to enable the rendering of widgets on RTD.

[2016-12-09 00:38] gnestor commented on #761
Nice! I will check out that PR and give it a try 👌

[2016-12-09 04:27] metaperture opened #962 "Width not working (5.2.2, at least for Button)"
Hey, I couldn't find a bug report on this, but in the following code, the width keyword does nothing (even though current docs seem to indicate that it should):

    import ipywidgets as ipw
    print(ipw.__version__) # 5.2.2
    ipw.Button(width=20)

Not sure if this is a known bug?

[2016-12-09 06:52] gnestor commented on #761
It seems to be working! Very nice work!

[2016-12-09 08:21] SylvainCorlay commented on #962
So the way to do this is

[code]

all the top-level layout attributes are regrouped into the `layout` attribute, which can be assigned globally too

[code]

[2016-12-09 08:21] #962 closed

[2016-12-09 08:35] SylvainCorlay commented on #16
@jbednar

- we have working static widgets in sphinx docs

  ![nbsphinx-screencast](https://cloud.githubusercontent.com/assets/2397974/20971580/41b0af4a-bc92-11e6-9066-d95b3282fe60.gif)

  which is only waiting for the PR to get merged in another repo.

 - All the pieces are completed for nbviewer except an outstanding PR in nbconvert.

[2016-12-09 12:39] ldiary opened #965 "How to install thre required jupyter-js-widgets ?"
I'm following the instructions here to install ipywidgets:
http://ipywidgets.readthedocs.io/en/latest/user_install.html
[code]
I'm on a virtual environment:
[code]
Me and google can not find the next instruction on how to install "jupyter-js-widget".
There seems to be a package here https://www.npmjs.com/package/jupyter-js-widgets, but is there something installable through pip?

[2016-12-09 16:28] jbednar commented on #16
That sounds great. Can't wait!

[2016-12-09 17:21] michaelaye commented on #16
Very nice. Just a quickie: i assume the readthedocs version is not yet working because of some final tweaks or am I maybe missing a plugin (using Safari on 10.11.6)?
![screenshot 2016-12-09 10 20 59](https://cloud.githubusercontent.com/assets/69774/21058016/3f39e84a-bdf9-11e6-99fb-1eb9cf43d784.png)

[2016-12-09 17:33] SylvainCorlay commented on #16
Indeed, stay tuned for the rtd rendering.

[2016-12-09 19:45] jasongrout commented on #965
That npm package should be installed automatically inside of widgetsnbextension. Can you tell us what version of ipywidgets and widgetsnbextension you have? Also, can you give the output of `jupyter nbextension list`?

[2016-12-09 19:48] jasongrout commented on #952
We should write down the specific semantics we want out of the dropdown, and then make sure the code conforms to it. Right now the code has several places where it takes the handlers off, but in slightly different ways and for slightly different reasons.

What should the semantics be?

[2016-12-09 19:51] jasongrout commented on #715
Fixed by #961.

[2016-12-09 19:51] #715 closed

[2016-12-09 20:01] jasongrout commented on #569
By the way, this line should probably say "or later": https://github.com/ipython/ipywidgets/blob/91b9ae5de02f9618642d95f72bd0088b9f64b1a9/ipywidgets/__init__.py#L67

[2016-12-09 20:10] jasongrout commented on #569
@ivanov and I decided that:

* the current notebook is still calling `find_static_assets` specifically for widgets, and it shouldn't. The only winning strategy is to not play.
* We should explicitly check the notebook version here since we messed up in not removing the call from the notebook.

[2016-12-10 03:34] jasongrout commented on #955
The problem is that we are not using phosphor to attach accordion children: https://github.com/ipython/ipywidgets/blob/master/jupyter-js-widgets/src/widget_selectioncontainer.ts#L152.

Working on it...

[2016-12-11 11:34] SylvainCorlay commented on #761
This is now fixed!

[2016-12-11 11:34] #761 closed

[2016-12-11 11:35] SylvainCorlay commented on #16
Widgets are rendering in RTD http://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html

[2016-12-11 11:36] SylvainCorlay commented on #923
The live documentation now fixed in master

http://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html

[2016-12-11 11:36] #923 closed

[2016-12-11 11:36] SylvainCorlay commented on #892
Now fixed in master:

http://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html

[2016-12-11 11:36] #892 closed

[2016-12-11 11:51] #565 closed

[2016-12-11 13:08] akhmerov commented on #16
Wow, nice! Out of curiousity, what is the chosen mechanism for state storage?

[2016-12-11 14:52] SylvainCorlay commented on #16
@akhmerov check out the section of the documentation on embedding that got improved at the same time.

http://ipywidgets.readthedocs.io/en/latest/embedding.html

[2016-12-11 16:14] willingc commented on #761
@SylvainCorlay @gnestor Beautiful!!! 🏖

[2016-12-11 18:53] michaelaye commented on #16
Looks great!
But: The linked widgets are not linked in RTD:
http://ipywidgets.readthedocs.io/en/latest/examples/Widget%20Basics.html#Linking-two-similar-widgets

[2016-12-11 19:05] SylvainCorlay commented on #16
@michaelaye anything that requires a roundtrip to the backend will not work.

However, `jslink` and `jsdlink` do work on RTD.

[2016-12-11 19:08] SylvainCorlay opened #972 "CSS Issues on RTD"
- The tab widget css is partly broken by the readthedocs sphinx theme.

    http://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html#Tabs

   (weird spacing and cannot switch tabs)

- Some overflow issues with inline widgets

[2016-12-11 19:14] SylvainCorlay commented on #16
@michaelaye for things that require a kernel, we are thinking of using mybinder as a kernel provider (without the notebook) for embedded widgets. I got some example working but the documentation would probably not be the main purpose.

[2016-12-11 19:40] michaelpacer commented on #761
There are still a bunch of interaction and display bugs on my phone, are
you targeting that use case, or no?

Note: they're already so good (I was *already* impressed) that I think it
would be a mistake to *not *target mobile browsers. I can imagine a really
neat demo showing this off by showing something in a presentation on your
screen and then telling people to go to the site on there phones an

[2016-12-11 19:57] SylvainCorlay commented on #761
Regarding the displaying on mobile devices, it is somewhat orthogonal to making them work in the docs  or nbviewer / nbconvert, and will be specific to the implementation of each widget view.

pythreejs works well on mobile devices. The trick for core widgets is to make more use of native browser things which are implemented in an ad hoc way for each platform.

[2016-12-11 21:11] gnestor commented on #761
@SylvainCorlay Great work!!

[2016-12-11 21:12] gnestor commented on #761
@michaelpacer Please create an issue identifying these bugs and I will look into it 👍

[2016-12-12 11:53] ldiary commented on #965
For some reason, the problem is solved now and I can't reproduce the error anymore. Perhaps rebooting my computer helped but I don't really know why.

[2016-12-12 11:53] #965 closed

[2016-12-12 12:15] SylvainCorlay commented on #965
Nice, thanks for reporting anyway.

[2016-12-12 12:35] #972 closed

[2016-12-12 19:21] jasongrout opened #978 "Update proxy widget to use Phosphor to attach children widgets"
The proxy widget currently doesn't use the phosphor mechanism, so phosphor messages stop at the proxy widget boundary.

[2016-12-12 22:10] rmenegaux opened #981 "Tab _titles dictionary keys change from int to string when widget is displayed"
The following code:

[code]
outputs `{0: 'Title 0'}` as expected.

However if I display `t`, then `t._titles` becomes `{'0': 'Title 0'}`.

This is a problem because `t.set_title(0, 'New Title')` fails with a
[code]

[2016-12-14 14:13] #16 closed

[2016-12-14 14:15] SylvainCorlay commented on #16
We now support widgets rendering on nbviewer

Example here: http://nbviewer.jupyter.org/github/ipython/ipywidgets/blob/master/docs/source/examples/Widget%20Events.ipynb

This requires the widgets to be generated from the ipywidgets 6.0 (beta) or the current state of master and will be included in the next release.

[2016-12-14 14:17] SylvainCorlay commented on #16
Really really glad to solve this issue. Support of custom widgets and some css glitches will be worked on before the 6.0.

Thank you to everyone involved. @minrk @michaelpacer @jasongrout @takluyver @jdfreder.

[2016-12-14 14:54] SylvainCorlay commented on #895
@rgbkrk Regarding the specs.

1. I think that we are pretty much code-complete on the specification for the widget mime types and the serialization formats.

    - A format json schema for the two mime types (`application/vnd.jupyter.widget-state+json` and `application/vnd.jupyter.widget-view+json`) provided in a separate npm package (`jupyter-widgets-schema`).

    - New APIs to generate those se

[2016-12-14 16:24] stsievert opened #986 "Make an Output model and view for the embedded widget manager"
# Summary

Figure out how to save the state of the output widget (i.e., the output messages) and make an embedded widget manager output view.

---
# Original issue

#16 is much appreciated! Thanks for this :+1:

I have (tried) to embed a widget in a static webpage but haven't had any luck. I follow the documentation and select "Widgets > Embed widget" and copy that snippet into an HTML page. When

[2016-12-14 17:19] stsievert commented on #986
Issues shouldn't go on beta software, closing.

[2016-12-14 18:48] SylvainCorlay commented on #986
@stsievert this feature requires the current state of master

[2016-12-14 19:37] michaelpacer opened #988 "Examples of widget events in docs do not match their description"
In https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20Events.html there are examples of widgets that say (for example):

But then, the values are not synchronized.

I'm guessing that this is because the state of the widgets is separate from the functionality and that that might need to be exposed separately? Since there are javascript interpretations of the functionality in some cases (

[2016-12-14 19:57] SylvainCorlay commented on #988
This is because the synchronization happens on the python side with traitlets.link.  Interactions that require a roundtrip to the python side won't work in sphinx documentation. We will need to reformulate the doc to not be confusing now that widgets are live.

[2016-12-15 10:34] minrk opened #989 "Changelog is empty"
There have been lots of changes in ipywidgets, but the changelog is empty since 4.0. There should be notes for every release, and ideally a migration guide for changed APIs.

[2016-12-15 11:03] SylvainCorlay commented on #989
I agree. I will add some content in there.

[2016-12-15 16:18] jasongrout commented on #955
This is the subject of #983.

[2016-12-15 17:34] #681 closed

[2016-12-15 17:49] jasongrout opened #992 "Add a .style attribute for control-specific styles"
We don't have a way of changing the button color anymore, for example, and various other attributes of a control. This is frustrating some people trying to move to current master.

@SylvainCorlay and I suggest exploring having a `.style` attribute that contains control-specific style information. For example, a Button's style attribute would be a `ButtonStyle` traitlet that had things like color,

[2016-12-16 10:04] SylvainCorlay commented on #624
OK, this is fixed in master! We have a much better model for widgets persistence now.

[2016-12-16 10:04] #624 closed

[2016-12-16 10:06] SylvainCorlay commented on #631
OK, this is fixed in master, and will be released in ipywidgets 6.0.

Now, widget state is saved in the notebook metadata when using the `save with widget state` command in the widgets submenu.

This state is only overridden upon save when this command is used again to avoid churn in the source files.

[2016-12-16 10:06] #631 closed

[2016-12-16 16:39] gnestor commented on #624
Thank you, Sylvain! 🙏

[2016-12-16 17:05] jasongrout commented on #992
Everyone, please post comments here with the style attributes we should consider. I think we want to scope these to what we really use.

[2016-12-16 17:14] SylvainCorlay commented on #992
I would start with a `Button.style` since it is the simplest.

 `button_color`
 `text_color`
 `font_weight`

Ruling out font size would simplify things.

[2016-12-16 18:05] dmadeka commented on #992
@jasongrout Is this meant as a design for all widget styling or just Buttons?

[2016-12-16 20:07] jasongrout commented on #992
I think we imagine different style attributes for different widgets, though some may be shared.

[2016-12-17 10:17] lrq3000 commented on #624
Thanks a lot!!!! That's really great! :D

[2016-12-17 22:31] #945 closed

[2016-12-18 04:10] jasongrout commented on #316
This is working now.

![interact](https://cloud.githubusercontent.com/assets/192614/21291449/05a056ee-c4ae-11e6-886a-f8f893e9449a.gif)

[2016-12-18 04:10] #316 closed

[2016-12-18 10:40] SylvainCorlay commented on #136
This seems to be solved in master.

Updated version of the code:

[code]

[2016-12-18 10:40] #136 closed

[2016-12-18 10:42] SylvainCorlay commented on #754
The widgets snapshot feature was removed from `ipywidgets` in master. In ipywidgets 6.0 (to be released), notebooks can be saved with the widget state, and widgets will be rendered by tools such as nbviewer can render it.

See e.g. http://nbviewer.jupyter.org/github/ipython/ipywidgets/blob/master/docs/source/examples/Widget%20List.ipynb

[2016-12-18 10:42] #754 closed

[2016-12-18 10:45] SylvainCorlay commented on #637
OK, so this is a `widgetsnbextension` thing. In the legacy notebook, the cleanest thing we can do is remove the `widgetsarea`s from the DOM. I will fix this tomorrow.

[2016-12-18 10:46] SylvainCorlay commented on #607
Closing as duplicated to #637

[2016-12-18 10:46] #607 closed

[2016-12-19 18:00] jbednar commented on #669
I don't know about anyone else, but I still see this message **ALL THE TIME**, on lots of different systems.  Sometimes it goes away after running the suggested command, sometimes it doesn't.  Sometimes reinstalling ipywidgets helps, sometimes it doesn't.  Sometimes it means the widgets aren't working, sometimes it doesn't.  Sometimes I manage to get it to go away somehow, but then it comes back t

[2016-12-21 20:25] inodb commented on #16
@SylvainCorlay Great stuff! Thanks so much for your work on this!

One question: in the nbviewer link at the top if I click on the button or hit enter in the submit field nothing happens. Is that expected? Thanks!

[2016-12-21 21:20] SylvainCorlay commented on #16
Yes. In these static embeddings, there is no python backend. Only the pure js things will work.

We are also working on a kernel-backed thing for full fledges apps.

[2016-12-21 21:31] inodb commented on #16
Gotcha! One more question: Is it possible to change plots using a radio button or a slider? Similar to http://nbviewer.jupyter.org/github/jakevdp/ipywidgets/blob/master/example.ipynb#Example-4:-Matplotlib-Figures

[2016-12-21 21:43] dmadeka commented on #16
You can check www.github.com/Bloomberg/bqplot .. its built for doing things like this

----- Original Message -----
From: Ino de Bruijn <reply@reply.github.com>
To: ipywidgets@noreply.github.com
CC: subscribed@noreply.github.com
At: 21-Dec-2016 14:31:52

Gotcha! One more question: Is it possible to change plots using a radio button or a slider? Similar to http://nbviewer.jupyter.org/github/jakevdp

[2016-12-23 11:51] SylvainCorlay opened #996 "Failing js tests"
Some npm package release has broken the js tests. (Attempts to rerun prior successful jobs fails).

I am looking into it.

[2016-12-30 06:57] hainm opened #997 "jupyerlab 0.11.3 + newest ipywidgets commits does not work"
Hi

I've tried the commit: 72ff35a7428ddad7f05266de0b4e30c2e71c1433
with jupyterlab 0.11.3.

The installation and activation were fine. However, running `jupyter lab` showed below error

[code]

I try to combine ipywidgets master with jupyterlab 0.12.1 but ipywidgets is not happy about this version.

[2017-01-01 17:15] DeepVoltaire opened #998 "HBox widget does not show with versions >6.0.0.beta3"
I tried using the newest versions and noticed that in addition to a new error (the widgets show nevertheless)

`The installed widget Javascript is the wrong version. It must satisfy the semver range ^2.0.9.`

all versions after 6.0.0.beta3 do no show the simple HBox widget

`import ipywidgets as widgets`
`items = [widgets.Label(str(i)) for i in range(4)]`
`widgets.HBox(items)`

[2017-01-02 14:25] #168 closed

[2017-01-02 14:26] SylvainCorlay commented on #998
I think that you have a conflicting other version of the javascript hanging around in one of the jupyter directories.

[2017-01-02 17:38] SylvainCorlay commented on #996
Fixed by #1001

[2017-01-02 17:38] #996 closed

[2017-01-02 17:44] SylvainCorlay opened #1002 "Provide other value than '*' for core widgets' [model/view]_module_version"
This probably requires creating two base widgets for all core widgets... above `DOMWidget` and `Widget` respectively.

[2017-01-02 21:27] jdemeyer opened #1003 "Notebook JSON is invalid"
Something just corrupted a Jupyter notebook that I use for testing. This is a fairly big and complicated notebook with lots of ipywidgets. More importantly, the problem is fixed by executing Cell -> All Output -> Clear

Relevant versions (installed within SageMath):
- python 2.7.12
- traitlets 4.2.2
- jupyter_core 4.1.0
- jupyter_client 4.3.0
- ipykernel 4.3.1
- ipython 5.1.0
- notebook 4.2.1
- ip

[2017-01-02 21:29] SylvainCorlay commented on #1003
We now depend on nbformat 4.2.0!

[2017-01-02 21:46] jdemeyer commented on #1003
If you do, the error message should be clearer :-)

[2017-01-02 22:13] jasongrout commented on #1003
The error is from nbformat, iirc, not ipywidgets. Are you running on master, and did you install it? The dependency list should pull in the correct version of nbformat, or complain loudly at install time.

[2017-01-02 22:27] SylvainCorlay opened #1004 "Status of the lab extension in ipywidgets 6.0.0?"
Since jupyterlab will probably still have a few 0.X releases after ipywidgets 6.0 is released, should we declare that the jupyterlab extension is experimental when we release 6.0?

It would be nice to coordinate with the jlab team if there is a 0.x version that they expect to stay around for some time to be released soon.

[2017-01-02 22:30] SylvainCorlay opened #1005 "Widget actions in jupyterlab"
We need the same actions as in the widgetsnbextension for the labextension.

 - Save notebook with widget state
 - Download widget state
 - Embed widgets

[2017-01-02 22:33] SylvainCorlay commented on #1003
The fact that this was not valid was a bug in nbformat 4.1, which was fixed in 4.2.

[2017-01-02 22:34] SylvainCorlay commented on #1003
I imagine that @jdemeyer has a dev install and updated from master!

Closing !

[2017-01-02 22:34] #1003 closed

[2017-01-02 22:36] SylvainCorlay opened #1006 "gh-pages"
Should we delete the gh-pages branch which is mostly a placeholder?

[2017-01-03 07:46] jdemeyer commented on #1003
Yes, I did install the package using `pip`. Unfortunately, due to certain issues with `pip` (I don't know the details), we had to disable `pip`'s dependency checking within Sage.

[2017-01-03 08:46] SylvainCorlay commented on #1006
Destroyed the branch.

[2017-01-03 08:46] #1006 closed

[2017-01-03 10:06] jdemeyer opened #1007 "ToggleButtons layout regression"
With `ipywidgets-5.2.2` + `widgetsnbextension-1.2.6`:
![buttons_old](https://cloud.githubusercontent.com/assets/3625785/21604630/81cab6c6-d1a4-11e6-8cb2-f2812cae6720.png)

With `ipywidgets-6.0.0.beta5` + `widgetsnbextension-2.0.0b7`:
![buttons_new](https://cloud.githubusercontent.com/assets/3625785/21604629/81ca8f20-d1a4-11e6-9c66-68a9df4f65e6.png)

[2017-01-03 10:21] #997 closed

[2017-01-03 10:26] SylvainCorlay commented on #1007
Do you think that the previous one is preferable?

[2017-01-03 10:27] SylvainCorlay commented on #998
Closing since I cannot reproduce in either jupyterlab or notebook.

[2017-01-03 10:27] #998 closed

[2017-01-03 10:28] jdemeyer commented on #1007
First of all, the buttons should not overlap the next input line. This is very obviously a bug.

Second, yes I do prefer the smaller buttons. IMHO, it looks better.

[2017-01-03 10:34] SylvainCorlay commented on #168
Thanks again @pganssle I added a date picker widgets, and your comments helped a lot. This will be part of soon-to-be-released ipywidgets 6.0

[2017-01-03 10:39] SylvainCorlay commented on #1007
Regarding the borders, what if I remove the right border of all non-selected buttons but the right-most one?

[2017-01-03 10:40] SylvainCorlay commented on #1007
Regarding sizes, this natural size is the one that aligns well with the other ones...

[2017-01-03 10:41] jdemeyer opened #1009 "interact layout regression"
Interact widgets are now positioned horizontally instead of vertically. This can easily overflow the horizontal space if there are several widgets:

With `ipywidgets-5.2.2` + `widgetsnbextension-1.2.6`:
![interact_old](https://cloud.githubusercontent.com/assets/3625785/21605388/45fbabdc-d1a9-11e6-9a23-b0f9066adef7.png)

With `ipywidgets-6.0.0.beta5` + `widgetsnbextension-2.0.0b7`:
![interact_new](

[2017-01-03 10:42] DeepVoltaire commented on #998
Thanks for your answers! What can I try to fix this?

[2017-01-03 10:43] jdemeyer commented on #1007
I don't really care. For me, the borders are fine the way they are.

[2017-01-03 10:51] jdemeyer opened #1010 "Label layout regression"
A `Label` no longer wraps long text:

With `ipywidgets-5.2.2` + `widgetsnbextension-1.2.6`:
![label_old](https://cloud.githubusercontent.com/assets/3625785/21605664/e1bb828a-d1aa-11e6-9cea-fd072aa53497.png)

With `ipywidgets-6.0.0.beta5` + `widgetsnbextension-2.0.0b7`:
![label_new](https://cloud.githubusercontent.com/assets/3625785/21605663/e1bb68ae-d1aa-11e6-9ed7-abc5a5eba9e2.png)

[2017-01-03 11:03] jdemeyer commented on #917
This was fixed almost 3 years ago: https://github.com/ipython/ipywidgets/commit/61757e3c70ceb9c00355b0bda063a7b50f7b1a3f

So I don't get what this issue is about...

[2017-01-03 12:37] #1009 closed

[2017-01-03 12:37] #1010 closed

[2017-01-03 12:38] SylvainCorlay commented on #1007
I should have fixed the two other issues, and the overlap issue of this one. Can you test things out?

[2017-01-03 12:39] SylvainCorlay commented on #988
Closing since it is not a bug per se...

[2017-01-03 13:17] SylvainCorlay commented on #998
I recommend that you check out the `data` paths listed in in the output of `jupyter --paths` if you have an older version of the javascript hanging around.

[2017-01-03 13:24] jdemeyer opened #1012 "Dev install fails without Jupyter lab"
The relation between ipywidgets and jupyterlab is not so clear to me.

Is there a compelling reason why `dev-install.sh` requires Jupyterlab to be installed? I could easily change that script to skip the installation of `jupyterlab_widgets` if Jupyterlab is not installed. Would that be a good idea?

[2017-01-03 13:26] jdemeyer commented on #1004
See also #1012

[2017-01-03 13:34] SylvainCorlay commented on #1012
I think that it is the right thing to do to have the dev installation to require jupyterlab since it is the future main target environment for widgets.

Regarding the dependency order

A `ipywidgets` is the kernel-side package
B1 `widgetsnbextension` is the notebook-server-side notebook extension package (which could be in a different environement than the kernel)
B2 `jupyterlab_widgets` is the no

[2017-01-03 13:40] jdemeyer commented on #1012
It's not a big issue, but I did find it surprising/confusing that ipywidgets itself does not require Jupyterlab, but the dev install does require Jupyterlab. Why not allow the option of doing the dev install without Jupyterlab for people who don't care about Jupyterlab?

[2017-01-03 13:44] SylvainCorlay commented on #1012
For now, we don't depend on jupyterlab. This is only the dev-install script. To be honest, I don't use this script personally.

[2017-01-03 14:45] jdemeyer commented on #1009
This is indeed fixed by #1011.

[2017-01-03 14:48] jdemeyer commented on #1010
With #1011, the Label text is truncated (it shows as `lorem ips...`) instead of word-wrapping or overflowing, which is IMHO worse than either other option.

[2017-01-03 15:08] jasongrout commented on #1010
The idea is that label is the thing that plays well with the layout design, and if you want something a lot longer, use the HTML widget. This should be documented in a migration guide.

[2017-01-03 15:08] jasongrout commented on #1010
Is the HTML widget sufficient for your use case?

[2017-01-03 15:18] jasongrout commented on #1004
Yes, definitely alpha for now.

[2017-01-03 15:20] jasongrout commented on #1004
I think we shouldn't be any more finished than JLab is. When we release JLab beta, I think we can think about calling the widget extension beta.

[2017-01-03 15:22] jasongrout commented on #1012
I don't use the dev install script either. I did add the JLab stuff there to help someone else who was doing widgets in JLab. We could put the JLab stuff behind a switch if you want.

[2017-01-03 15:25] SylvainCorlay commented on #1010
This is not what I am seeing. Did you rebuild the js + css ?

[2017-01-03 15:25] jdemeyer commented on #1010
Probably yes. I didn't know about the `HTML` widget.

[2017-01-03 15:26] jdemeyer commented on #1010
No idea. I just ran the `dev-install.sh` script.

[2017-01-03 15:28] SylvainCorlay commented on #1010
I can't reproduce after #1011

<img width="797" alt="screen shot 2017-01-03 at 4 27 55 pm" src="https://cloud.githubusercontent.com/assets/2397974/21612473/9e975f16-d1d1-11e6-90bb-1c84620aba9a.png">

[2017-01-03 15:29] jdemeyer commented on #1010
How should I do that? Is running `npm install` sufficient?

[2017-01-03 15:31] jasongrout commented on #1010
Sylvain, I still think the label should behave like the inline label on widgets... Min and Max sizes, and truncate if needed.

[2017-01-03 15:34] SylvainCorlay commented on #1010
Ok, we can revert that part of the PR then. I don't really have an opinion.

[2017-01-03 19:56] jasongrout commented on #1010
@SylvainCorlay - It seemed like lots of people were using the Label widget as an HTML widget. This makes the semantic distinction clearer. @jdemeyer - is there a need for a label widget that doesn't truncate? Can you try the HTML widget and see if that is sufficient for what you are doing?

[2017-01-03 20:05] jasongrout commented on #1004
@SylvainCorlay - do you suggest we make the package version an alpha or beta? I thought an 0.x version of lab widgets for an alpha/beta JLab project was sufficient to indicate that the extension is still experimental. At the very least, I'm happy to change the readme to indicate the experimental status.

[2017-01-03 20:41] SylvainCorlay commented on #1004
This is not so much about the version numbering as it is about the fact that jlab's fast iteration on 0.X version numbers will make our package useless in a couple of weeks after we release it...

[2017-01-03 21:55] jasongrout commented on #998
In notebook 4.3.1, you can start the server with `--debug` and it will print out the path on disk it is serving any javascript files from. That helps tremendously in tracking down problems like this where you may have multiple installations of the javascript.

`jupyter notebook --debug`

Then go to a notebook page that loads the widget javascript and look in the server logs for where it is serving

[2017-01-03 22:20] hainm commented on #1012
if developers do not use it personally, why bothering to keep it to avoid confusion? :D

[2017-01-03 22:53] SylvainCorlay commented on #1012
Some occasional contributors requested it :)

[2017-01-03 22:58] hainm commented on #1012
ha, fair enough. I just wish all the Jupyter-related projects (Python+JS) have the same way to install packages for contributors.

[2017-01-03 23:27] jasongrout commented on #998
Look for the line that says:

`Path jupyter-js-widgets/extension.js served from ...`

and see if that path is what you are expecting.

[2017-01-03 23:28] jasongrout commented on #988
Re-opening so we can clarify the docs.

[2017-01-03 23:34] #1004 closed

[2017-01-03 23:35] #988 closed

[2017-01-03 23:37] jasongrout commented on #917
Weird, I'm not sure why I didn't see that. I agree this is invalid.

[2017-01-03 23:37] #917 closed

[2017-01-03 23:39] jasongrout commented on #1003
This does ring a bell. Regardless, sounds like the issue is that the dependency is ignored.

[2017-01-04 04:01] jasongrout commented on #681
The error doesn't appear anymore, it seems.

[2017-01-04 07:18] jdemeyer commented on #1010
Yes, I'm happy with the `HTML` widget. Like I said before, I just didn't know that it existed.

[2017-01-04 10:16] jasongrout opened #1016 "Label widget should act like the inline label"
As discussed at the end of #1010, revert the part of #1011 that fixed #1010.

CC @SylvainCorlay.

[2017-01-04 10:17] jasongrout commented on #1010
This is now #1016

[2017-01-04 10:18] SylvainCorlay commented on #1016
Do you want to hop on gitter real quick?

[2017-01-04 13:25] SylvainCorlay opened #1018 "The box widget has OverflowX and OverflowY attributes"
This should probably be removed since it is exposed by the `Layout` widget.

[2017-01-04 20:23] hainm opened #1021 "AttributeError: 'Output' object has no attribute 'description'"
Hi,

I've been using 0.5.x versions to create widgets with `interactive` function. All of the created `widgets` have `description` attribute but the new `Output` widget does not.
Is this intended?

PS: If this is intended, what's reason to introduce new "feature" in `0.5.x` and then suddenly remove it in `0.6.x`?

cheers

[2017-01-04 20:34] #1016 closed

[2017-01-04 22:53] #1018 closed

[2017-01-05 14:14] jdemeyer commented on #1012
See #1023.

[2017-01-05 19:15] jasongrout commented on #1021
I forgot about the description for the output widget. I was thinking descriptions were useful for input widgets - is it useful to have a description for an output widget?

[2017-01-05 19:51] hainm commented on #1021
I am not sure about that for general users. But it breaks our code if not having 'description'.

Basically I used `interactive` to create a bunch of widgets and use their `description` for further scripting.
https://github.com/arose/nglview/blob/master/nglview/representation.py#L83-L120

I will certainly need to update my code to check if the `widget` has attribute `description`.
`ipywidgets` need

[2017-01-05 20:35] hainm opened #1025 "X is not version compatible with installed JupyterLab version 0.12.1"
hi,

When install the labextension from the newest commit 76da87bc0b2f882dca8027a8fc9a48c34935a350

[code]

I got the error

[code]

any idea why? thanks.

[2017-01-06 11:23] ldiary commented on #965
Okay, I got the same problem again today.  I have a project that requires ```jupyter``` so in my ```setup.py```  I have this:

[code]

When I build my project using ```python setup.py install``` I get the following:
[code]

The work around is to install ```jupyter`` first before building the project.
[code]
This order gives the correct(?) versions of ipywidgets, etc.
[code]

[2017-01-06 13:55] SylvainCorlay opened #1029 "Dropdown css: 1px shift of the dropdown in the classic notebook"
The rendering seems to be a little off in the case of the classic notebook.

[2017-01-06 13:56] SylvainCorlay opened #1030 "Phosphor dropdown: wrong placement on window resize"
The dropdown is badly positioned when the window is resized. We should probably recompute its position on window resize.

[2017-01-06 13:57] SylvainCorlay commented on #1007
Closing since the overlap issue is fixed and we are keeping the natural size, which is changeable with the `layout` attribute.

[2017-01-06 13:57] #1007 closed

[2017-01-06 18:22] jasongrout opened #1032 "Document individual widget model schemas"
We should set an example of how to clearly communicate widget models by documenting the state for each widget that we provide in ipywidgets.

CC @rgbkrk

[2017-01-06 18:24] jasongrout opened #1033 "Document the comm message spec"
We use lots of messages for syncing, etc., but these are not documented. We should document the widget message spec.

CC @rgbkrk

[2017-01-06 18:47] jasongrout opened #1034 "Notes from discussion from real-time synchronization of widgets"
This is from a meeting between @rgbkrk, @ivanov, @jasongrout, @SylvainCorlay, and Ian Rose on Friday, Jan 6, discussing widgets and real-time collaboration.

* Widgets shouldn't directly talk with the kernel. Widgets should interact with a model store, and the model store should carry out the syncing. Right now, the base widget model manages the state quite closely - instead this should be abstrac

[2017-01-06 18:54] ellisonbg opened #1035 "Rounded corners on widgets"
Saw this widget has rounded corners...

![screen shot 2017-01-06 at 11 54 01 am](https://cloud.githubusercontent.com/assets/27600/21729143/e5cbccbe-d406-11e6-9f8b-b68ba3528827.png)

@SylvainCorlay

[2017-01-06 19:05] SylvainCorlay commented on #1035
Indeed, the nbviewer rendering should help with the UX / UI / design review.

[2017-01-06 19:07] ellisonbg commented on #1035
;-)

On Fri, Jan 6, 2017 at 12:05 PM, Sylvain Corlay <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-01-06 19:08] SylvainCorlay commented on #1035
Check out

http://nbviewer.jupyter.org/github/ipython/ipywidgets/blob/master/docs/source/examples/Widget List.ipynb

which renders find now.

[2017-01-06 19:25] blink1073 commented on #1034
Nice!

[2017-01-06 21:53] jasongrout commented on #1034
Closing since the discussion is now over :).

[2017-01-07 00:48] jasongrout commented on #1012
Fixed in #1023.

[2017-01-07 00:48] #1012 closed

[2017-01-07 00:52] jasongrout commented on #1021
Perhaps we should distinguish between the input area and the output area of an interactive widget that is returned?

The output widget isn't ever part of the input controls for an interact, right? I mean, I suppose you could manually put one in, but that sort of defeats the idea.

[2017-01-07 00:53] jasongrout commented on #1029
Can you post a screenshot?

[2017-01-07 00:54] jasongrout commented on #1030
Or close it on window resize. We already close if there is a scroll event.

[2017-01-07 00:56] jasongrout commented on #1035
That's the native browser select box - we may not be able to style it very well or consistently...

[2017-01-07 02:10] rgbkrk commented on #1034
Thanks for typing up the notes!

[2017-01-07 03:42] ellisonbg commented on #1035
Yes, it is annoying to style, but it can be done. We need to do this in
JupyterLab as well and can borrow those styles...

On Fri, Jan 6, 2017 at 5:56 PM, Jason Grout <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-01-07 09:57] SylvainCorlay commented on #1035
Jupyterlab removes the border from select boxes and styles the enclosing div as far as I can recall.

[2017-01-07 09:58] SylvainCorlay commented on #1030
Yes indeed.

[2017-01-07 10:05] blink1073 commented on #1035
Yep, in the dialog CSS we have select and selectWrapper styles (on my phone).

[2017-01-07 10:06] SylvainCorlay commented on #1035
^ Btw, these seem to be missing for the cell-type select input.

[2017-01-07 10:08] SylvainCorlay commented on #1029
There you go.

Classic:

<img width="588" alt="screen shot 2017-01-07 at 11 03 58 am" src="https://cloud.githubusercontent.com/assets/2397974/21740953/70c1d85a-d4c9-11e6-8789-20b49e2b9dd9.png">

Lab

<img width="639" alt="screen shot 2017-01-07 at 11 04 53 am" src="https://cloud.githubusercontent.com/assets/2397974/21740954/7821c088-d4c9-11e6-8ddb-b0cca72de563.png">

[2017-01-07 15:54] ellisonbg commented on #1035
https://github.com/jupyterlab/jupyterlab/issues/1444

On Sat, Jan 7, 2017 at 3:06 AM, Sylvain Corlay <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-01-08 00:49] hainm commented on #1021
@jasongrout: I did not manually put one in, they are all from `interactive` method

Please try below code with `0.6.x`:
[code]

output (check the last line)
[code]

[2017-01-09 12:49] #1035 closed

[2017-01-10 17:19] jasongrout commented on #1034
Re-opening, since obviously this isn't implemented. Since it's only one item, I'm just changing the title.

[2017-01-11 21:20] nleclercq commented on #669
@jbednar +1  for your last comment.
In my case, ipywidgets work perfectly but regularly get the "Widget Javascript not detected..." message when I make call ipywidgets API for the first time in freshly opened notebook. The tools I develop are dedicated to our end-users and this is quite confusing for them.

[2017-01-12 14:21] takluyver opened #1037 "Clear error when using widgets outside kernel"
From ipython/ipython#10087, a user tried to use widgets in IPython terminal and got a cryptic error:

[code]

I just tried with the beta and got a warning rather than an error:

[code]

If the widgets aren't even in a kernel, trying to use them should fail straight away with a clear error message describing what's required.

[2017-01-12 14:24] SylvainCorlay commented on #1037
This is already solved in master. Now people can instantiate interactive widgets from any python context. Obviously they will not show...

[2017-01-12 14:24] #1037 closed

[2017-01-13 01:39] stsievert commented on #986
I am reopening this issue; I still can't embed widgets into a static HTML page (I am on beta6). My process for trying to embed widgets:

1. I define a (simple) function and develop a widget around it.
3. I click on "Embed Widgets" and copy/paste the HTML into `widget.html`.
4. I open `widget.html` in my browser. I expect to see the widget in the browser, however a blank screen shows (and the conso

[2017-01-13 08:33] SylvainCorlay commented on #986
Hi @stsievert Can you provide the generated html file?

[2017-01-13 18:14] hainm opened #1038 "Embed Widgets: does not work with 3rd party widget (e.g: nglview)"
Hi,

I am trying `6.0.0.beta6` version for embedding widget. This works fine with `ipydigets` Widgets (Text, ...) but did not work with our `nglview`:

- nothing shows up if hitting `Embed Widgets`
- console error:
[code]

[code]

cheers. Hai

[2017-01-13 18:24] SylvainCorlay commented on #1032
Note: I guess we want to specify a schema for a patch to the state rather than the full state.

[2017-01-13 18:31] SylvainCorlay commented on #1038
Hi, I think that you have a model attribute that is not json-serializable.

[2017-01-13 18:42] hainm commented on #1038
thanks.

- should `ipywidgets` be more aggressive in error report?
- is it possible to report which attribute that is not json-ized?

[2017-01-13 22:06] stsievert commented on #986
Here's a dropbox link: https://www.dropbox.com/s/b85fath9kiqxxv8/widget.html?dl=0

It implements the function above.

[2017-01-14 00:34] SylvainCorlay commented on #986
You are missing the `<html>` and `<body>` tags. The snippet of code that is generated by the embed widgets is meant to be pasted in an already valid html file.

[code]

[2017-01-14 00:51] stsievert commented on #986
D'oh.

I tried inserting the `script` tags at `` and it still shows a blank webpage (at the same dropbox link).

A checkbox would be a good idea. I expected standalone minimal widgets but it'd be a good idea to provide code to embed too.

[2017-01-14 09:59] SylvainCorlay commented on #986
This is where it should be inserted. However, the dropbox link does not work anymore.

[2017-01-14 15:14] stsievert commented on #986
https://www.dropbox.com/s/i6tv27vtyyjuymj/widget.html?dl=0

[2017-01-14 17:08] jdetle commented on #1029
I can take care of this if @jasongrout hasn't already started on it.

[2017-01-14 17:11] SylvainCorlay commented on #1029
@jdetle 👍 . I don't that anyone has tackled this.

[2017-01-14 18:08] jdetle opened #1039 "Attempting to remove a Dropdown Widget results in error"
[code]
This code in `widget_selection.js` currently does not work. Attempting to remove a dropdown widget by clicking the fontAwesome 'X' to the left of it results in this error:

Along the same lines, I would expect Clear Outputs in the Notebook Cell menu to remove widgets, is this the expected experience?

I'm opening this issue with the intention of fixing it.

[2017-01-14 18:10] jdetle commented on #1029
Seems like there are two issues here, when the classic notebook has rendered an output above, the dropdown menu will (as of now) inexplicably render a bottom border beneath the 2 as seen in your example, but will not if there is no output area being rendered above the cell rendering the dropdown. In addition, there is a larger gap in the notebook than in the lab.

[2017-01-14 18:19] SylvainCorlay commented on #1029
The bottom border is always there but should be hidden by the dropdown.

[2017-01-14 18:20] SylvainCorlay commented on #986
Thanks. There is a legitimate issue here with the Output widget.

[2017-01-14 18:21] jdetle commented on #1029
Right, and in some cases it isn't. In the picture you gave it is in JLab but not in the Classic Notebook.

[2017-01-14 18:56] jdetle commented on #1029
Two issues I found:
The fix for the border issue is changing
[code]
to
[code]

the different pixel difference comes from a different DOM tree and css associated with JLab that isn't associated with the widgets or the notebook.

<img width="441" alt="screen shot 2017-01-14 at 10 52 24 am" src="https://cloud.githubusercontent.com/assets/10944582/21957275/e50d7dbc-da47-11e6-9196-a32c562378e2.png">

<

[2017-01-15 00:24] SylvainCorlay commented on #1029
@jdetle it seems that the shift comes from the rounding of the computed client rect. I have proposed a fix in #1040 .

[2017-01-15 00:25] jdetle commented on #1029
Ah, that makes more sense. Thank you.

[2017-01-15 09:43] #1029 closed

[2017-01-16 19:30] SylvainCorlay opened #1042 "Embedder: provide a way to render all known widgets and skip unknown"
Otherwise, adding a widget type is a backward incompatible change in `jupyter-js-widgets` or for a widget library.

[2017-01-17 04:59] hainm opened #1044 "Snapshot widget state when syncing"
# Summary

We should snapshot the widget state when syncing state from the frontend to the kernel, since the sync may happen asynchronously because of the throttling.

---
# Original issue

hi

we have simple code in `nglview` that works fine with `ipywidgets 5.2.2`.
However, there is no effect if using `mode.set(...)` in `6.0.0.beta5` version.

one example:
[code]

will not update `camera_str` in

[2017-01-17 06:59] akhmerov commented on #893
Another option (see jupyter/help#119) would be to interchange click with ctrl-click, so that the default action isn't as disruptive.

[2017-01-17 08:07] akhmerov commented on #644
Could this be solved by ipython/traitlets#261?

[2017-01-17 08:43] denfromufa commented on #893
It maybe worth looking at standard UI elements provided by frameworks such
QT, Wx, GTK. Maybe they have a better design. I'm not sure what the best
option will be, but definitely not the current implementation.

On Tue, Jan 17, 2017, 12:59 AM Anton Akhmerov <notifications@github.com>
wrote:

[2017-01-17 16:30] takluyver commented on #1037
Right, I found that with the beta. But instantiating something that can't do anything doesn't seem very useful, and the error about not finding javascript isn't very clear if you don't know that it needs the notebook.

[2017-01-18 04:11] lengau opened #1045 "Create on_submit methods for FloatText, IntText, etc."
The Text widget has an on_submit field that's useful for requiring the user to hit Enter before a change in affected. It would be nice to be able to trigger this similarly from IntText and FloatText widgets.

It might also make sense to make the same changes to IntText and FloatText as are changed by the outcome of #584

[2017-01-18 17:20] jasongrout opened #1046 "Label widgets should have tooltips with full label"
This way when they get cut off, you can hover over it to get the full label.

[2017-01-18 20:28] #1046 closed

[2017-01-19 15:41] jdemeyer opened #1049 "Dropdown widget steals [ESC] key"
1) In the Jupyter notebook, type
[code]

2) Click on the widget

3) Move focus to another cell in the notebook

4) Press [ESC]. This key will be captured by the Dropdown widget instead of the notebook cell.

[2017-01-19 15:58] SylvainCorlay commented on #1049
@jasongrout I discussed this with @jdemeyer in person and it looks like a phosphorjs issue, pretty serious.

[2017-01-19 16:47] jdemeyer opened #1050 "Output widget does not work in notebook 4.x"
Doing exactly what the documentation of `Output?` says does not actually work. When creating a notebook cell with the code
[code]
the string `prints to output widget` is displayed normally and ''not'' in the `Output` widget.

[2017-01-19 18:19] jasongrout commented on #1050
Output widget should work if you have one of the recent ipywidgets/widgetsnbextension beta versions, and you are either on notebook master or you're using https://github.com/jupyter/notebook/pull/2022.

Or if you're on jlab.

[2017-01-19 18:20] jasongrout commented on #1050
Output widget is I think completely broken in ipywidgets on released versions of notebook 4.x.

[2017-01-20 15:05] martinal opened #1052 "Inconsistencies in docs and cookiecutter project"
I've found a few inconsistencies in the docs or in the docs vs the cookiecutter widget project, probably caused by API changes at some point if I were to guess. I may be wrong, but my impression is that these are doing the same:
[code]
and
[code]
The cookiecutter project uses `this.model.on`, while `listenTo` and `save_changes` are mentioned at:
https://ipywidgets.readthedocs.io/en/latest/examples

[2017-01-20 17:20] jasongrout opened #1054 "Box should call resize on children?"
The following code on the current bqplot beta shows that we have an issue with resize events. In this case, the bqplot code needs to measure its size to redraw when its container changes size. When in an HBox, the first figure is created, measures its size and draws itself. Then the second figure is inserted, which shares the space with the first widget, and so by default resizes the space for the

[2017-01-20 18:35] jasongrout commented on #904
Here's another snippet of code for alignment:

[code]

[2017-01-20 19:56] jasongrout opened #1055 "WIP Dropdown interaction spec"
We have some problems with the dropdown releasing keyboard handling. To make things clear, here is a draft of a user interaction spec for the dropdown. The dropdown has two parts, the header and the dropdown list. The header always displays the currently-selected value.

(see [apple](https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/OSXHIGuidelines/ControlswithMen

[2017-01-20 22:15] jasongrout commented on #1049
Fixed (temporarily) by #1057.

[2017-01-20 22:15] #1049 closed

[2017-01-20 22:30] SylvainCorlay commented on #1049
thanks

[2017-01-20 23:00] jasongrout commented on #1054
I expect #1058 to make it so that each bqplot figure above has the same size. This still has issues, though it's not clear if it's an ipywidget problem or a bqplot problem:

[code]
<img width="956" alt="screen shot 2017-01-20 at 5 56 49 pm" src="https://cloud.githubusercontent.com/assets/192614/22168344/079d845c-df3a-11e6-909a-da2d38e93819.png">

Having 2 figs in the hbox also seems to pretty cons

[2017-01-20 23:34] #1054 closed

[2017-01-24 10:48] martinal opened #1059 "Widget send() doesn't check the buffers type"
This can crash the kernel:
[code]
The main error is this: (from the `[u"buf"]` case):
[code]

[2017-01-24 15:12] martinal commented on #1052
Nevermind. Although I still think the documentation for ipywidgets is a bit thin, these are mostly from the Backbone.js API which is well documented.

[2017-01-24 15:12] #1052 closed

[2017-01-24 15:27] jasongrout commented on #1052
It is definitely thin - thanks for bringing these up. Here is some info not in backbone:

`save_changes` just saves changes without providing a callback for output. `touch` does provide a callback for output, so that output produced as a result of the change can be seen by the user. Typically, a view will use `.touch()`. A model will use `save_changes`.

As for the widget models, if your model is

[2017-01-24 15:30] jasongrout commented on #1037
Do you suggest we modify the message to say something like:

[2017-01-24 15:37] jasongrout commented on #893
The SelectMultiple widget uses the browser's native listbox - it should work exactly the same as any other native listbox on the platform. Just to be clear I'm understanding you - are you suggesting modifying how the standard listbox behaves on the platform?

[2017-01-24 15:41] akhmerov commented on #893
I'm just wondering if the default listbox behavior is a useful default for selecting multiple items from a list. And for my own personal use, I'm wondering whether it is possible to implement a workaround. Specifically, I wonder about a single widget that would allow to select an arbitrary subsection of entries without using keyboard.

[2017-01-24 15:50] takluyver commented on #1037
Something like that. Maybe a separate warning if it's not even running inside a kernel?

I was thinking that it should be an error to use them outside the kernel, but I can see why you might want to be able to do so for testing.

[2017-01-24 15:54] jasongrout commented on #893
Great question. And the OP for this issue suggested allowing multiple selection using *only* the keyboard. What if you had a table of checkboxes, like the OP suggested? Would that work, or be too unwieldy?

I think it would also be interesting to experiment with other handling of clicks/keyboard in the listbox in a separate widget, or perhaps even as an option on the SelectMultiple widget, but I a

[2017-01-24 17:11] jasongrout commented on #1059
I agree: we should be checking the type, and definitely don't make the kernel crash.

[2017-01-24 20:28] starhel opened #1060 "Play widget is not triggering handler from observe."
Play widget is not triggering handler, when value is changed. It's same as #676, but for me still not working. I've tried with last stable: 5.2.2 and latest beta: 6.0.0.beta6 from pypi. Unfortunately workaround proposed in previous issue  doesn't work either. In 6.0.0.beta6 my own widget stop working too. Any idea for workaround in 5.2.2?

[code]
ipywidgets: 5.2.2, 6.0.0.beta6
jupyter-client: 4.4.

[2017-01-24 21:22] SylvainCorlay commented on #1060
Hi, this is a known issue. Since the timer is global to the notebook, the print statements don't have a cell to be displayed under.

A solution is to use the output widget for printing.

[2017-01-24 22:16] starhel commented on #1060
Thank you very much for info! It's working now :)

[2017-01-24 22:16] #1060 closed

[2017-01-25 18:31] jasongrout opened #1062 "Error when using input()"
Moving the slider below gives an error for me in the classic notebook, but running `f(1)` seems to work just fine.
[code]

Error:
[code]

[2017-01-27 21:32] cornhundred opened #1063 "is there a way to increase a widget's size or open it fullscreen in a new window?"

[2017-01-27 21:42] jasongrout commented on #1063
Not in the current stock notebook. In JupyterLab, it will be possible to drag a widget out of the notebook into a tab of its own, which could take up the full screen.

If you are running a widget from a webpage, not in a notebook, then of course it can be as big as you want.

[2017-01-27 21:46] cornhundred commented on #1063
Okay, thanks.

[2017-01-30 13:32] #41 closed

[2017-01-30 15:28] takluyver opened #1064 "Recursion failure running tests on Jenkins"
On the `jack-of-none` build on Jenkins, which builds master of all our repos together, I see this test failure; it appears to recurse between accessing `.max` and `.min` traitlets until it crashes. Hopefully this is the relevant piece of the traceback:

[code]

[Build log](https://jenkins.jupyter.org/job/jack-of-none/487/console).

[2017-01-30 15:33] minrk commented on #1064
I think this might be related to something @SylvainCorlay found recently.

[2017-01-30 16:08] SylvainCorlay commented on #1064
Yeah, traitlets master breaks widgets. I have not looked into it yet.

[2017-01-31 14:46] mgeplf opened #1065 "Tab widget's internal _titles dictionary has its keys changed from int type to unicode"
After a state change (ie: a different tab is selected), the tab widget's internal `_titles` dictionary's keys get changed from type int to type unicode.

This happens because `ipywidgets/widgets/widget.py:Widget.set_state` uses a de-serialized json update that has unicode keys instead of integers.

This probably applies to all the `_SelectionContainer` classes.

Any 'easy' fix would be to `index =

[2017-01-31 15:04] jasongrout commented on #1065
Thanks! To reproduce:

[code]
[code]

[2017-01-31 15:07] jasongrout commented on #1065
The problem here is that in javascript:

[code]
Indeed, looking at the JSON spec (http://www.json.org/), we see that dictionaries will *always* have string keys.

[2017-01-31 15:19] jasongrout commented on #1065
@mgeplf - how does #1066 look to you? I think your solution is the best way to go, since the widget protocol spec will have to have string keys.

[2017-01-31 15:20] #1063 closed

[2017-01-31 15:24] jasongrout commented on #1062
After thinking about it for a bit: since the function is called without a reference to where to send input messages (i.e., with no stdin hooked up), this error is expected. Closing as things are behaving consistent with the design.

[2017-01-31 15:24] #1062 closed

[2017-01-31 15:34] mgeplf commented on #1065
Looks good to me.  Thanks for the quick response, appreciated.

[2017-01-31 15:34] #1065 closed

[2017-01-31 15:51] jasongrout commented on #1059
This error is at the lowest level we deal with (i.e., directly in the zmq socket). @minrk - at what level do you think we should check that the buffers provided really are buffers (e.g., `isinstance(buffer, memoryview)`? Maybe in the session send at https://github.com/jupyter/jupyter_client/blob/master/jupyter_client/session.py#L701 ?

[2017-01-31 16:08] jasongrout commented on #41
For reference, we have now split the backend (ipywidgets) and frontend (jupyter-js-widgets). They still live in the same repo, but are completely separate packages. I think it's right to close this as fixed at this point.

[2017-01-31 16:15] jasongrout commented on #986
To elaborate, it seems that the output widget model did not have state exposed (see below). However, even if it did have state, there would still likely be a problem since the output view is provided by the widget manager, and I'm not sure that the embedded widget manager has an output renderer.

[code]

[2017-01-31 16:17] jasongrout commented on #986
I've updated the title to reflect what needs to be done.

[2017-01-31 16:24] jasongrout commented on #1038
It looks like that's the browser javascript function giving the error, and the error message indicates that there is a circular reference in the structure. We could use a replacer to try to narrow this down (see http://stackoverflow.com/questions/11616630/json-stringify-avoid-typeerror-converting-circular-structure-to-json for many solutions), but I'm not sure what performance cost we'd pay. Regar

[2017-01-31 16:27] hainm commented on #1038
thanks for you debug info.

Hai

[2017-01-31 18:04] jasongrout commented on #981
Thanks - we fixed this in #1066. #1065 is a duplicate report as well.

[2017-01-31 18:04] #981 closed

[2017-01-31 18:07] jasongrout commented on #1050
To resolve this, we should either:

(a) decide that we only need to support notebook 5.0, and have 5.0 released before ipywidgets 6.0.

or

(b) release notebook 4.4 with my changes at https://github.com/jupyter/notebook/pull/2022 to enable the output widget

@SylvainCorlay - this impacts our release timeline for 6.0.

[2017-01-31 18:08] jasongrout commented on #1045
That definitely sounds like something that would be great to do. Pull requests are more than welcome!

[2017-01-31 18:09] SylvainCorlay commented on #1050
I would like to get https://github.com/jupyter/notebook/issues/2087 fixed in notebook 5.0.

[2017-01-31 18:10] jasongrout commented on #1044
Can you open up the debugger and see if the widget sync message is getting sent over the websocket? I can help you find where this message should be - let me know if you want help finding it.

[2017-01-31 18:11] jasongrout commented on #1042
This would also help work around the error in #986.

[2017-01-31 18:15] jasongrout commented on #1039
Thanks!

Removing a dropdown works now in master - I think it may have been fixed in #1053.

The "Clear Outputs should clear widgets" is #637.

[2017-01-31 18:17] jasongrout commented on #1039
![cleardropdown](https://cloud.githubusercontent.com/assets/192614/22478377/95a8fe2c-e7b7-11e6-9332-08e3d691897c.gif)

[2017-01-31 18:17] #1039 closed

[2017-01-31 18:20] jasongrout commented on #1025
@hainm - is it working now? We've now updated to version JLab 0.13.x

[2017-01-31 18:26] jasongrout commented on #1021
Sorry for the delay in responding. The output widget now added is the output of the function (which before just ended up in the cell output), which is a change to how interact works now. The code right now has it always as the last widget child of the box.

However, rather than making your code rely on the presentation of the interact (i.e., assuming that what is returned is a box, and that the co

[2017-01-31 18:27] jasongrout commented on #955
This now works in master.

[2017-01-31 18:27] #955 closed

[2017-01-31 18:34] jasongrout commented on #728
It would be easy to implement a tooltip for the slider handle. I think it would be hard to implement a tooltip over the slider track (though maybe not impossible).

[2017-01-31 18:44] hainm commented on #1025
Hi, I am not sure what I did or if `ipywidgets` was not happy about cached files. I still got the similiar error.

Just tried pull `jupyterlab` and `ipywidgets`

[code]

May be I just wait for the release versions. :D

[2017-01-31 19:01] hainm commented on #1044
yes, please. I am using chrome.

btw, below are screen shots (6.0.0.beta6  vs 5.2.2).
I also clicked the "debug" button in my screen but I think this is not what you meant.

6.0.0.beta6
=========
![debug](https://cloud.githubusercontent.com/assets/4451957/22479924/97fcad8a-e7bd-11e6-9d44-df88329f1c29.gif)

5.2.2
====
![old](https://cloud.githubusercontent.com/assets/4451957/22479945/ad99bf0c-e7bd-

[2017-01-31 19:47] jdetle commented on #1039
Thanks @jasongrout, I appreciate the fix and I'm sorry I couldn't get to this sooner!

[2017-01-31 20:46] jasongrout commented on #1030
This is 'fixed' for now since we reverted back to a native select. So putting this back in backlog.

[2017-01-31 20:48] jasongrout commented on #1044
So now go to the 'network' tab in the debug window, and filter to just find websocket (WS) connections. Take a look at the messages going back and forth on the websocket channel.

[2017-01-31 22:01] jasongrout commented on #1044
I tried to reproduce, but ran into errors importing pytraj. Do you have a minimal example not using pytraj?

[2017-01-31 22:04] hainm commented on #1044
either

- install pytraj
`pip install pytraj`

- or use
[code]

[2017-01-31 22:06] hainm commented on #1044
![click](https://cloud.githubusercontent.com/assets/4451957/22486466/902a3428-e7d7-11e6-8107-3ce487301aaa.png)

[2017-01-31 22:07] jasongrout commented on #1044
(it may be more helpful to try to debug this on chat, as we can communicate more quickly than here. Please ping me or @SylvainCorlay if you're around on https://gitter.im/ipython/ipywidgets)

[2017-01-31 22:30] jasongrout commented on #1044
preliminary results: it appears that the widget is sending a number of custom messages, which increments the pending_msgs, but it never gets decremented back to 0, so any .touch() after that queues up its sync message instead of sending.

[2017-02-01 01:19] jasongrout commented on #1044
@hainm, does changing this line to `this.send` instead of `this.model.send` fix the problem?

https://github.com/arose/nglview/blob/b776e517e459c96c94bbeb39bbeabca968e0ef22/js/src/widget_ngl.js#L185

Basically, the problem ended up being that the frontend sent a message to the backend without setting a callback. The callback is how we keep track of the number of messages in flight. Since the callb

[2017-02-01 01:30] hainm commented on #1044
hi,

I think the `this.model.send` is not an issue, it is `this.model.set` method issue. https://github.com/arose/nglview/blob/b776e517e459c96c94bbeb39bbeabca968e0ef22/js/src/widget_ngl.js#L129

[code]

[2017-02-01 01:38] jasongrout commented on #1044
Can you try it? I'm betting you'll be surprised :)

[2017-02-01 01:45] hainm commented on #1044
it  does not fix that. I got new issue if following your change (`this.send`)

[code]

[2017-02-01 01:47] amoghskulkarni opened #1067 "Widget layout with respect to an image"
Is there a way to render widgets (horizontally) adjacent to a plot? I have had a look at `VBox` and `HBox` widgets [here](http://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html#Box) to get the similar result, but these seem to accept only a list of other widgets, not plots.

[2017-02-01 02:25] jasongrout commented on #1044
oh right, we had that issue too. Hmm...interesting, it's coming from _handle_status? Let me do some more digging tomorrow.

I really think the underlying issue with the sync not getting sent is that one message send that doesn't have callbacks. But let me look at this and see if I can see what the issue is with this.

[2017-02-01 03:55] jasongrout commented on #1044
Oh, right, it's coming from handle_status because that's where the sync message is actually being sent (and the serialization is actually being done).

It's a good thing that we're getting the circular structure error - that's telling us that at least now it's *trying* to sync to the backend. There's something wrong with the data it's trying to send to the backend, though.

[2017-02-01 09:38] minrk commented on #1059
@jasongrout I think you're spot on that Session.send the right place. The check should be if it's buffer-interface-providing, so the obvious test is:

[code]

I don't know if creating an unused memoryview can ever be expensive.

[2017-02-01 14:00] mikecroucher opened #1068 "widgets.Label initialisation problem with Latex"
The following code fails with `[Math Processing Error]` but as soon as I move the slider, it works as expected. Is this a mistake on my part or a bug?

I'm using ipywidgets 5.2.2

[code]

[2017-02-01 15:01] #1002 closed

[2017-02-01 20:55] #1059 closed

[2017-02-01 21:04] jasongrout commented on #1044
Here is a function that can detect circular references:

[code]

I modified the NGLViewClass to have this function:
[code]
That should catch when a model has circular references at the time the model is saved. However, no circular references show up at the time when touch() is called. However, if I put a similar block of code in ipywidgets right when the message in the model's message buffer is ac

[2017-02-01 21:19] hainm commented on #1044
I tag @arose here with the hope that he can reply to you. I am quite naive with JS :D.

[2017-02-01 22:29] arose commented on #1044
It looks like the problem is trying to sync the `pickingData` object. There are references to NGL's `structure` object which you definitely do not want to sync. I suggest you copy only the data you need from the `pickingData` object and for `atomProxy` and `bondProxy` object you call `.toObject` to get a plain javascript object without references to any NGL object.

[2017-02-01 22:38] hainm commented on #1044
@arose: picked in only one example.

even `this.model.set("frame", frame);` won't update frame in backend. (`frame` is in integer).

[2017-02-01 22:58] jasongrout commented on #1044
@hainm - the problem is that the sync message is delayed until the in-flight comm messages are resolved. When the comm messages finish being processed, it tries to send all of the sync data that's been building up from multiple `this.touch()` calls in the code. It appears that at least some of that data starts including things like the above, and tries to serialize and sync. My prediction is that

[2017-02-01 23:01] arose commented on #1044
also raising a circular references error?

[2017-02-01 23:03] jasongrout commented on #1044
There's a lot more going on behind the scenes than just that one data value. As best as I can guess, it says that it needs to sync some large amount of state, which doesn't contain circular references, and then the state changes to have some circular references before it actually serializes the state to JSON.

[2017-02-01 23:11] jasongrout commented on #1044
It sounds like on the nglView widget's end, we need to be smarter about the data we're actually syncing, like @arose mentions above?

I'll work on the ipywidgets end - making it so that the syncing takes a snapshot of the state when you ask it to sync, and getting the state updates merging to work. It sounds like there will be more work needed to make sure that we are only syncing state that we wa

[2017-02-01 23:40] hainm commented on #1044
Thanks. I will take care of nglview.

This would help closing this too https://github.com/ipython/ipywidgets/issues/1038

[2017-02-02 17:04] SylvainCorlay commented on #887
Closing since we have proper milestones now.

[2017-02-02 17:04] #887 closed

[2017-02-02 17:06] blink1073 commented on #887
TODO: learn project management.  😜

[2017-02-02 17:10] SylvainCorlay commented on #920
@jasongrout I would like to postpone this to after 6.0.

[2017-02-02 17:11] SylvainCorlay commented on #688
Note: use `change.old` and `change.value` instead of `get_item`.

[2017-02-02 17:13] SylvainCorlay commented on #946
Fixed in #1017

[2017-02-02 17:13] #946 closed

[2017-02-02 17:17] hainm commented on #688
is this new in 6.0.x?

[2017-02-02 17:25] SylvainCorlay commented on #688
Fairly new in traitlets

[2017-02-02 17:26] SylvainCorlay commented on #952
Removing the 6.0 milestone since we are using a select tag.

[2017-02-02 18:50] jasongrout commented on #1067
You could either use an OutputWidget to contain the plot (or any output), or you could use a plotting library like bqplot that generates widgets, which you could directly embed in an hbox or vbox.

[2017-02-02 19:08] jasongrout commented on #1067
Here's an example using OutputWidget in JupyterLab. The OutputWidget may not work in 5.2.2 (it was experimental at that time.)

[code]
<img width="950" alt="screen shot 2017-02-02 at 2 06 42 pm" src="https://cloud.githubusercontent.com/assets/192614/22564058/ff5f7324-e950-11e6-989a-b4d35b342036.png">

[2017-02-02 19:14] SylvainCorlay commented on #1067
Also, with ipympl, matplotlib figures are proper widgets that can be used
with HBox and VBox and they have all the mouse interactions working.

On Feb 2, 2017 8:08 PM, "Jason Grout" <notifications@github.com> wrote:

[2017-02-02 19:15] jasongrout commented on #1067
the bqplot package (https://github.com/bloomberg/bqplot, docs at http://bqplot.readthedocs.io/en/stable/) lets you do plotting in a widget framework, and works in the current notebook. Also, the updates are much smoother with bqplot.

[code]
<img width="901" alt="screen shot 2017-02-02 at 2 14 54 pm" src="https://cloud.githubusercontent.com/assets/192614/22564302/05513c44-e952-11e6-9dad-d9bbb42b97

[2017-02-02 19:15] jasongrout commented on #1067
CC @dmadeka ^

[2017-02-02 19:17] jasongrout commented on #1067
Does that answer your question?

[2017-02-02 19:30] jasongrout commented on #1021
I updated the description to be the TODO item we should do.

[2017-02-02 19:39] jasongrout commented on #163
I think fixing #316 solved this. It works in 4.x + https://github.com/jupyter/notebook/pull/2022 to enable the OutputWidget:
![checks](https://cloud.githubusercontent.com/assets/192614/22565236/72fca2f8-e955-11e6-8ec9-13474da9d9c0.gif)

[2017-02-02 19:39] #163 closed

[2017-02-02 19:43] jasongrout commented on #1068
Thanks for the report. This is fixed in master (cf. #550, #560). I just verified it too.

[2017-02-02 19:44] #1068 closed

[2017-02-02 19:46] jasongrout opened #1072 "Widget to render html + math?"
Since we don't have a Latex widget anymore, and the Label widget now has strict size limits, the HTML widget seems like the appropriate widget to render math in. However, it doesn't, it just puts the raw html on the page without typesetting it.

Should we (a) enable math rendering (b) make an option on the html widget to render math, or (c) make a new HTMLMath widget?

It's a one-line change to re

[2017-02-02 19:48] jasongrout commented on #1068
I did notice when testing this that the Label widget (with its new strict size limits) probably isn't appropriate for rendering arbitrary math anymore. I've opened #1072 for a discussion.

[2017-02-02 20:23] amoghskulkarni commented on #1067
Yes, it does. Thank you @jasongrout and @SylvainCorlay for the pointers. Will try out these things and get back to this issue if needed.

[2017-02-02 20:43] jasongrout opened #1073 "Make it possible to change the min-width on textbox, select, etc."
Right now, there are min widths set on inner elements (like inputs or the actual select control) that prevent the `.layout.min_width` attribute from controlling the minimum width of a control. Audit these width settings and make sure that it's possible to change the widths using the `.layout` attributes.

[2017-02-02 20:44] jasongrout opened #1074 "Make the widget label and readout colors variables so they can be customized"
This continues our trend of making it easier to theme controls by abstracting their parameters to css variables.

[2017-02-02 21:11] #1067 closed

[2017-02-02 23:32] SylvainCorlay commented on #1072
What about a multiple-lines label widget? `Caption`.

[2017-02-03 00:16] akhmerov commented on #692
While this isn't supported yet, is it possible to hack it in? For the jquery snippet, it appears I'd need to specify the `id` of the `input` element, is that possible currently?

[2017-02-03 00:18] jasongrout commented on #1072
The use case I'm thinking of is an interact that has output that may include lots of text and formulas. It's not so much a caption or label, just a block of text with math.

[2017-02-03 00:19] jasongrout commented on #1072
(of course, an actual interact works fine since the output rendering handles math; this is more like just an html widget that also typesets math...)

[2017-02-03 00:21] jasongrout commented on #692
It's not currently possible to set the id of an input for a text widget.

[2017-02-03 00:22] jasongrout commented on #692
I think it makes a lot of sense to make a separate autocomplete widget.

[2017-02-03 00:22] jasongrout commented on #692
Or maybe the standard thing is a combobox control (cross between text and dropdown).

[2017-02-03 08:54] mikecroucher commented on #1072
I think a HTMLMath widget is a great idea.  The use case I have in mind is when you want a widget to  have multiple outputs.

For example, you might be using sympy to perform a series expansion of sin(x). Outputs would include the rendered mathematics, a plot of sin(x) overlayed with a plot of the power series.

The way I currently think about doing this is to use a Vbox output widget that contain

[2017-02-03 14:02] jasongrout commented on #1072
Should we just call it `Math`, or `HTMLMath`?

[2017-02-03 14:03] jasongrout commented on #1072
I'm leaning towards `HTMLMath`, since `Math` sounds like it would be *just* the mathematics, e.g., the value would be just `\frac{x^2+x+1}{x+1}`.

[2017-02-03 14:45] SylvainCorlay commented on #861
Closing as fixed with the new Labeled Widget base:

<img width="713" alt="screen shot 2017-02-03 at 3 45 06 pm" src="https://cloud.githubusercontent.com/assets/2397974/22595440/c631edac-ea27-11e6-8249-ce2bbee55d77.png">

[2017-02-03 15:44] SylvainCorlay opened #1076 "Web3 example failing due to new security settings in notebook"
The command used to start the notebook server is

`python -m notebook --no-browser --NotebookApp.allow_origin="*"`

- first, REST api calls are redirected to the login page, unless token and password are disabled.
- second, even when disabling token/password, the REST call to `api/kernel` returns a 403 (forbidden).

Ping @minrk.

[2017-02-03 15:48] takluyver commented on #1064
I've commented out ipywidgets on Jenkins for now so that we can test the other things. Once this is fixed, remind me to re-enable it.

[2017-02-03 15:51] nleclercq opened #1077 "Problem trying to set the height (and width?) of a Textarea widget"
Hi all,
Forcing the height of a Textarea doesn't work properly (I'm using ipywidgets 6 beta 6).
Attached is a picture illustrating the problem.
Am I doing something wrong ?
N.

![textarea_size_problem](https://cloud.githubusercontent.com/assets/19185982/22597690/f448b870-ea30-11e6-8041-804f3f9d51c4.jpg)

[2017-02-03 16:26] jasongrout commented on #1074
Fixed in #1075.

[2017-02-03 16:26] #1074 closed

[2017-02-03 16:29] minrk commented on #1076
I think the fix should be to use a token, which would also make the `allow_origin` option unnecessary.

[2017-02-03 16:30] SylvainCorlay commented on #1076
`api/kernel` would be made available when using a token?

[2017-02-03 16:31] minrk commented on #1076
Yes, everything ought to work.

[2017-02-03 16:45] SylvainCorlay commented on #1076
This is going to require a UI in the Web3 example to provide the token in addition to the server URL, or parse a url with `token='sdhkjshd'`...

[2017-02-03 18:10] jasongrout commented on #1077
Related: I'm working on making sure setting the widths works in #1078.

[2017-02-03 18:21] jasongrout commented on #1077
To make it easier to reproduce, here is the code from the above picture:
[code]

[2017-02-03 18:26] jasongrout commented on #1077
The problem is that the rows (which we hardcode) overrides the height setting: https://github.com/ipython/ipywidgets/blob/master/jupyter-js-widgets/src/widget_string.ts#L113

We should expose 'rows' (and 'cols'?) to the user as a Textarea attribute.

[2017-02-03 18:30] jasongrout commented on #1077
(for a user that wants to set a specific height, they'd probably want to set the rows to be 1 and then control the height with `.layout.height`).

[2017-02-03 18:38] jasongrout commented on #1077
Should we always just set the rows to 1, and set a default height that the user can change? That makes it harder to have a textarea that is an integral multiple of the line height, but makes it easier to tile the widgets in a nice layout. @SylvainCorlay, @cameronoelsen

[2017-02-03 19:50] jasongrout commented on #861
It's not fixed yet:
[code]
<img width="696" alt="screen shot 2017-02-03 at 2 49 40 pm" src="https://cloud.githubusercontent.com/assets/192614/22605981/1b03fe4a-ea20-11e6-9765-255498091cdb.png">

[2017-02-03 19:54] jasongrout commented on #861
The problem here is that we have a max width on the label, which is fine usually. The checkbox is the thing that expands here. However, a workaround is to use the actual Label widget:

[code]
This doesn't let you do the accessible thing of saying the label is for another input, so that's bad. But it does let you see the full label.

Do you think that instead, we should take off the max width for a

[2017-02-03 20:35] reckoner opened #1080 "Dropdown checklist possible (multiple selection dropdown)?"
Hi,

Is it possible to create a dropdown, but one that allows more than one element to be selected?

Thanks!

[2017-02-03 20:41] jasongrout commented on #1080
Not using the current set of widgets we provide. You'd have to use the MultipleSelect (not a dropdown), or you could use a series of checkboxes. Or write a custom widget.

[2017-02-03 20:41] jasongrout commented on #1080
Happy to discuss further if you'd like...

[2017-02-03 20:41] #1080 closed

[2017-02-03 20:54] reckoner commented on #1080
I think you mean [SelectMultiple](https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html?highlight=SelectMultiple) right?

Let me look into it.  Thanks!

[2017-02-06 10:17] SylvainCorlay commented on #534
I can confirm that this is fixed as of master.

[2017-02-06 10:17] #534 closed

[2017-02-06 13:20] jasongrout commented on #1080
Yes, thanks.

[2017-02-06 20:14] #1073 closed

[2017-02-07 00:33] #1072 closed

[2017-02-07 00:55] #1042 closed

[2017-02-07 01:07] SylvainCorlay commented on #861
I think that we can close the issue here.

[2017-02-07 15:06] ketch opened #1085 ""Save notebook with widgets" doesn't seem to work"
I have set up a simple notebook with a widget (which works fine locally), clicked the "save with widgets" menu option, uploaded, and viewed on nbviewer.  No widget appears in the notebook (although I can see the widget data in the .ipynb file, at the bottom).  Here it is:

http://nbviewer.jupyter.org/gist/ketch/36daf198782102a30f318d38fa5ae13a

I am running ipywidgets 6.0.0.beta7 and widgetsnbexte

[2017-02-07 15:58] jasongrout commented on #861
Sure, we have a workaround above. If this still is a big issue, we can change the css for the checkbox to ignore the label max width.

[2017-02-07 15:58] #861 closed

[2017-02-07 16:18] ChakriCherukuri opened #1086 "'Select' widget does not support empty list in options any more"
Previously *Select* widget supported empty list in the options. Now it throws a TraitError saying "'options' must not be empty"!

Please enable Select to get initialized with an empty list (and have value attribute initialized to None). We have use cases where the Select list has no options initially and later gets populated based on some event.

[2017-02-07 21:01] #992 closed

[2017-02-07 21:01] #812 closed

[2017-02-07 21:57] jasongrout commented on #1086
The design constraint we're up against here is that `None` could be a valid option as well as signifying no option selected (e.g., `s=Select(options=[None])` is perfectly valid, and `s.value` is then `None`). Instead, we suggest that you create your own sentinel value for no option selected, such as `Select(options=[''])`.

[2017-02-07 21:58] jasongrout commented on #1086
(I talked with @ChakriCherukuri about this and he agreed that closing was fine)

[2017-02-07 22:23] jasongrout commented on #1086
We talked a bit more about this, after @ChakriCherukuri kept running into corner cases, and decided that it was fine to implement an empty options list. If the options list is empty, then the value is set to None as a convention. If the options list has things in it, then value should be one of the things in the list (which could possibly be None).

[2017-02-07 22:34] SylvainCorlay commented on #1086
I wonder what would be the semantic of that.

[2017-02-07 23:03] jasongrout commented on #1086
I have a WIP PR coming up.

[2017-02-08 15:25] #1086 closed

[2017-02-08 16:07] jasongrout commented on #943
This is going to involve a lot more design discussion. Bumping to 6.1

[2017-02-08 16:56] jasongrout commented on #817
ping @SylvainCorlay - what do you think? Allowing html code would be pretty natural, but may not be compatible with the label's width/height restrictions. I think I'm +0 on it.

[2017-02-08 16:57] jasongrout commented on #797
@SylvainCorlay - move this to 6.1?

[2017-02-08 16:58] jasongrout commented on #347
Moving to 6.1

[2017-02-08 17:02] SylvainCorlay commented on #797
Done.

[2017-02-08 17:03] SylvainCorlay commented on #817
Let's move this forward. I also have no opinion on this. +0 :)

[2017-02-08 17:09] #740 closed

[2017-02-08 17:10] jasongrout commented on #817
Oh, and the other problem is that having a label with `<` would no longer be as easy.

[2017-02-08 17:12] jasongrout commented on #817
but I think the added flexibility of html is probably worth it.

[2017-02-08 17:13] jasongrout commented on #817
@jdemeyer - is this important for Sage compatibility?

[2017-02-08 21:09] jasongrout commented on #1025
You need to rebuild the javascript - master should be compatible with 0.15.0 now. (I know, things are evolving quickly, and versions keep changing...)

If you want to ping me on gitter, I can try to work through this in real-time with you to help resolve this.

[2017-02-08 21:09] #1025 closed

[2017-02-08 21:10] jasongrout commented on #1050
We've now merged the necessary changes and plan to release Notebook 4.4 supporting the output widget.

[2017-02-08 21:10] #1050 closed

[2017-02-08 21:17] hainm commented on #1025
thanks. I am having some deadlines so I won't be available to test. I will
wait for the official release version. cheers.

Hai

[2017-02-08 22:23] jasongrout commented on #1025
Hopefully that's really soon, or at least a more stable beta or RC.

On Wed, Feb 8, 2017 at 4:17 PM Hai Nguyen <notifications@github.com> wrote:

[2017-02-08 22:25] hainm commented on #1025
yeah. I am very excited about `ipywidgets` in `jupyterlab`. :D

[2017-02-09 00:44] amoghskulkarni commented on #1067
@jasongrout Sorry, but I am having some trouble to get the widgets working with bqplots. When I try to run the following code, the widgets are not getting rendered in the notebook.
[code]

My output is this -

![output](https://cloud.githubusercontent.com/assets/11549656/22764140/7949966a-ee2e-11e6-9d03-635f39a753dd.PNG)

What am I missing?

[2017-02-09 08:46] jdemeyer commented on #817
Depends what you mean "important". It's not very high priority.

But HTML in labels is certainly something that people did use when making interacts in the Sage Notebook. So it's not a theoretical thing.

[2017-02-09 15:02] maartenbreddels opened #1091 "ToggleButtons / _Selection .value in Python side != .value on js side"
Say we have
[code]
Then clicking on 'One' will reflect that toggle.value == 1.
However, on the js side, value is actually "One", which messes things up if you use jslink.
The problem is I think in SelectView._updateOptions (https://github.com/ipython/ipywidgets/blob/master/jupyter-js-widgets/src/widget_selection.ts#L90)
Which uses _options_labels for both the label and the data.
My guess is that o

[2017-02-09 15:10] jasongrout commented on #1091
In order to have something we can sync across JSON, we encode the python .value attribute as its label. All communication happens back and forth with the label - the value never goes over the wire to javascript. Thus, the 'value' in Javascript is the label. That's the current design.

I agree it's confusing and not really ideal. What are you suggesting the value attribute should be on the javascri

[2017-02-09 15:13] maartenbreddels commented on #1091
But the Python's side value is 1, not 'One', so it it not consistent. If toggle.value == 1, I expect the js side to also have 1 as its value, not 'One'.

[2017-02-09 15:16] jasongrout commented on #1091
So here are several options:

1. we *don't* sync the python value over, we just sync the label, and deal with label on the JS side.
2. we make `.value` the label everywhere, and you just have to deal with the inconvenience of using a new `.value_object` or something in python, which is the actual object corresponding to the selected label.

[2017-02-09 15:19] maartenbreddels commented on #1091
Why not:
- sync over _options_labels and _options_values
- have a `.value` and `.label`

It does make sense from the point of view of embedding widgets using jslink. You want to have labels visible in the gui, and have them control values in other widgets, not deal with the labels.

[2017-02-09 15:19] jasongrout commented on #1091
Option 2 seems like a reasonable compromise. We could also open things up so that the labels could be any primitive JSON value (i.e., could be an int). That way it's still trivial to use `Select([1,2,3])` without having to do `.value_object`.

[2017-02-09 15:20] jasongrout commented on #1091
The crucial thing here is that we can't sync over the _options_values since they are arbitrary python objects - no guarantee that they are JSONable.

[2017-02-09 15:23] maartenbreddels commented on #1091
Ah ok, I didn't know that. I assumed they were. I mean, that would even be more useful right, you can have the values be widgets, and control for instance which widget .
And as it is now, _options_labels is also synced, so whatever issue there is with syncing _options_values, it will already exist.

[2017-02-09 15:24] jasongrout commented on #1091
Not sure what you mean by this. The labels are strings, so they are able to be synced.

[2017-02-09 15:25] maartenbreddels commented on #1091
https://github.com/ipython/ipywidgets/blob/master/ipywidgets/widgets/widget_selection.py#L80 just a Tuple right?

[2017-02-09 15:27] jasongrout commented on #1091
Yes, but only because we can't say that it is a Tuple of strings (traitlets limitation). The docs clearly say: "The labels are the strings that will be
    displayed in the UI, representing the actual Python choices, and should be
    unique. If labels are not specified, they are generated from the values."

[2017-02-09 15:31] maartenbreddels commented on #1091
Ok, but do you see the potential benefit of having _options_values being for instance a list of widgets? Is there any limitation that would hamper implementing something like that. Even if that is not possible, having int's and string's is already really useful.

[2017-02-09 15:34] SylvainCorlay commented on #1091
I think that we can force the trait of the contained element.

[2017-02-09 15:35] jasongrout commented on #1091
_options_values already can be anything, including a list of widgets.

For option 2 above, we could open up labels to be any value that can be converted to a primitive JSON value. Then you could directly use `.value` if the labels are actually a list of ints, which technically is the label, but would be the actual value in this case too.

[2017-02-09 15:36] jasongrout commented on #1091
For variable-size tuples? Last I checked, giving types for tuple elements is done to make the tuple a fixed-sized typed record structure.

[2017-02-09 15:37] SylvainCorlay commented on #1091
Yeah you are right. This is because semantically tuples are meant to be unpacked and list accessed. The only reason why we use tuples here is because of the immutability.

[2017-02-09 15:38] jasongrout commented on #1091
Yep. We're abusing the Tuple type because Lists have even stronger limitations.

[2017-02-09 15:39] SylvainCorlay commented on #1091
I prefer to have a very strong typing of what gets through the network for the selection widgets. `strings` are all the js needs.

This allows to have actual values that are not serializable, or just really big and there is no reason to send them through the wire. Besides, as new backends are being implemented, it is nice to be able to expect certain types :)

[2017-02-09 15:50] maartenbreddels commented on #1091
I understand, option 2 would be the simplest and more consistent method. However, I strongly believe that having a widget that that i describe (and kind of expect), would make things a lot more flexible. Having a toggle button that would allow setting what kind of pythreejs geometry to display for instance, with jslink, would be really nice.

[2017-02-09 16:44] jasongrout commented on #1091
Help me understand exactly what you're describing. You're describing a select widget where the values are serialized with the ipywidget model serializer, or are primitive JSON values? And then those values are synced with the javascript side?

[2017-02-09 18:27] maartenbreddels commented on #1091
Yes, I'd say use `ipywidgets.widgets.widget_serialization`, that would solve 95% of the use cases I'd think. I'll give you some examples.
I'm working on doing some 3d plotting in ipyvolume, and I'd like to have a gui for controlling some things, like marker sizes, type, color. I don't want those to be visible always, so a select widget that would display the proper control widgets for the plot cou

[2017-02-09 20:02] jasongrout commented on #1091
Thanks for the clarification. If we are always syncing values, that means that values are primitives or widgets with the above plan. However, that means that we can no longer use selection widgets for arbitrary python objects, which would be a huge regression in functionality. Thoughts?

[2017-02-09 20:12] maartenbreddels commented on #1091
Ok, I would have to be an opt-in thing then. Sth along this line?
[code]
Would that be technically possible?
I'd say, selection widgets would have a `.value`, which would be (by default) python side only, a `.label` which would always be a string and would have sync=True. This would break existing code that would use jslink on `.value`, but it would be more consistent.
Serializing values would hav

[2017-02-09 20:46] jasongrout commented on #1091
I think once we start changing the fields that are serialized, or the serializer being used, we're talking a different widget. We want to think about the widget as being defined by the sync protocol messages so multiple frontends and backends can implement the widgets by just implementing the right sync messages.

I think your proposal of having a `.label` attribute that is synced, and a `.value`

[2017-02-09 21:12] maartenbreddels commented on #1091
Maybe there is a way around what I want. The problem is that I consider `.label` meaningless in the js code (see my translation example). But having a new  `.index` (from 0 to len(options)-1), would really help. Having this, I can see a new jslink-like helper method:
[code]
This would listen to the marker_toggle.index on the JS side, and on change take that item from the last list argument, and as

[2017-02-09 21:41] jasongrout commented on #1091
Yes, index is how we implemented a similar thing in Sage as well. That crossed my mind as well, but that means things are a bit ambiguous if the options are specified as a dictionary. But since the options are normalized anyway, maybe it's not so bad.

[2017-02-10 02:17] ivanov opened #1095 "WeakMap is not defined"
Even after the changes in #1094, as best as I can tell, the webpacking process introduces a dependency on WeakMap, which is not available in older browser.

I think there's a way of polyfilling WeakMap, but I'm not sure how to best proceed to do that.

[2017-02-10 02:19] jasongrout commented on #1095
What browsers are we going after here?

[2017-02-10 02:21] ivanov commented on #1095
An older version of Chromium... I'll send you a MSG

[2017-02-10 02:39] jasongrout commented on #1095
Nominally, I think we're shooting for similar requirements to JLab: Firefox 49+, Chrome 39+, Safari 10+, but also IE 11 for widgetsnbextension.

[2017-02-10 02:46] ivanov commented on #1095
Ah, ok, closing this then. Thanks for the details, @jasongrout

[2017-02-10 02:46] #1095 closed

[2017-02-10 14:03] SylvainCorlay commented on #710
This has been implemented already in master.

[2017-02-10 14:03] #710 closed

[2017-02-10 14:59] jasongrout commented on #710
For reference, the infrastructure was merged in https://github.com/ipython/ipywidgets/pull/1070

[2017-02-10 15:01] maartenbreddels commented on #1091
Yeah, if you use a dict you probably don't care about the order, or you are using Python 3.6

So to summarize, would this be the proper solution:

- `.value` should disappear on the js side (since it is not consistent with the py side)
  - it should be replace by `.label` on the js side
- `.value` on the Python side stays the same (we cannot sync it since it should be able to hold any py object)
-

[2017-02-10 15:18] jasongrout commented on #1091
One other thing nice about using index instead of label is that you could then have two identical labels, if you wanted.

Another thing is that it will simplify the code, since we have to do some logic to convert things to an index anyway.

Do you think .label should be synced as well? If you want to use the triggering mechanism based on label on the js side, we'll need to put it in the model and

[2017-02-10 15:20] jasongrout commented on #1091
This does break with other value traits, where value is synced. I don't think there will be drastic consequences, but it will be confusing.

[2017-02-10 15:22] maartenbreddels commented on #1091
Yes, it was confusing to me, since `.value` is quite common, so maybe `.value` needs a new name, `.object`? But I'd say sync the labels, you can imaging putting the label text somewhere in the gui.

[2017-02-10 15:25] jasongrout commented on #569
To resolve this, we should check to see if there will be an issue with notebook 4.4, and try to work around it. It may be that we need to explicitly check the notebook version at https://github.com/ipython/ipywidgets/blob/master/ipywidgets/__init__.py#L52 and give advice from there.

[2017-02-10 15:31] jasongrout commented on #637
Changing issue title to reflect the discussion above - that we should just clear widgets when a cell's output is cleared

[2017-02-10 15:41] jasongrout commented on #569
Actually, we should just delete the code (as done in #1097) - we require notebook 4.4+ anyway.

[2017-02-10 15:51] #569 closed

[2017-02-10 17:32] jasongrout commented on #637
I'm working on this...

[2017-02-10 18:46] jasongrout commented on #1077
Sylvain and I discussed this. I'm going to move forward with setting rows to 1 by default, setting a natural height in css based on the default lineheight (to still give an integral number of rows).

Then if the user wants a text area of a certain size, they can just set the `.layout.height`.

We also might expose the rows attribute, so it is easy for a user to size the widget to an integral numbe

[2017-02-12 22:14] #688 closed

[2017-02-13 02:27] cornhundred opened #1104 "Saved widgets (with 'Save Notebook with Widget') do not seem to be removable from ipynb file"
I do not seem to be able to delete widgets from the ipynb JSON file (under metadata, widgets). Removing widgets from the interactive notebook and resaving does not seem to clear out old widgets.

[2017-02-13 16:32] jasongrout commented on #1104
Thanks. We're changing how widgets are stored in the upcoming release, which should solve this. @SylvainCorlay - will the current changes in master also remove widget data if it already exists in the notebook metadata?

[2017-02-13 16:48] SylvainCorlay commented on #1104
@jasongrout I think that @cornhundred's report concerns the current beta.

[2017-02-13 16:51] cornhundred commented on #1104
Thanks, yes I have 6.0.0.beta6 installed. Should I be using a different version of 6.0?

[2017-02-13 16:54] SylvainCorlay commented on #1104
No, that is fine. We probably need to discuss the semantic if removing the widgets of the notebook.

Saving from a fresh kernel should remove them.

[2017-02-13 17:13] cornhundred commented on #1104
Thanks, restarting the kernel and resaving worked.

[2017-02-13 21:27] keithw-integris opened #1105 "wishlist: 2-axis X-Y slider"
Imagine a widget that presents a square (or rectangular) area (like a drawing canvas), inside of which the user can click and drag to move a knob, essentially a solid black disk or a 'plus-sign' X-Y coordinate marker.  This would enable simultaneous X-Y control of two variables, much like a joystick.  It would essentially combine a pair of horizontal and vertical _IntSliders_ (or _FloatSliders_) i

[2017-02-13 22:35] SylvainCorlay commented on #1105
@keithw-integris it is already possible with libraries that are built upon ipywidgets such as bqplot

**Moving points around:**

![move](https://cloud.githubusercontent.com/assets/2397974/22906401/97acd3be-f244-11e6-9a4e-5f0427b59113.gif)

The benefit over a regular 2-D slider is that you could have any scale, even a log scale...

**You can also select intervals:**

![draw](https://cloud.githubuse

[2017-02-13 22:47] keithw-integris commented on #1105
Thank you.  I will look into these other options.

I'm not sure I agree that it is out-of-scope (there is the gamepad controller after all, which is if anything a **more** eccentric approach to the same user interaction).  Furthermore, any interface that assists developers in creating GUIs might be considered good fodder for notebook GUI widgets in general, even if a bit esoteric).

On the other h

[2017-02-13 22:49] SylvainCorlay commented on #1105
@keithw-integris these are not so much alternative in that they are built upon ipywidgets. I agree that Controller was more esoteric though :)

[2017-02-13 22:52] keithw-integris commented on #1105
Not to turn the comments section into a discussion forum (for which it may not be the best format), but I'm not certain I know how to replicate those code snippets above.  I clearly need to add some additional code to make them work.  May I contact you off-git for further assistance if I get stuck?

[2017-02-13 23:04] SylvainCorlay commented on #1105
You can check out the example notebooks for bqplot which probably cover these examples.

GH issues are a good place for specific questions because they are easily addressable compared to mailing lists and chat rooms.

[2017-02-13 23:04] #1105 closed

[2017-02-14 01:59] jasongrout commented on #1105
I would love to see a simple standard 2d slider widget - I wouldn't be opposed to it in core, but it could be fine as a separate 3rd party widget too. We've experimented with such things in Sage interacts for years.

Even though it's not a standard browser control, the scientific bent of the Jupyter I think could justify such a widget in the core framework.

However, to Sylvain's point, many needs

[2017-02-14 13:36] #742 closed

[2017-02-14 13:38] SylvainCorlay commented on #1032
@jasongrout I don't think that having individual schemas for widget model patches is in scope for 6.0.

[2017-02-14 15:21] jasongrout commented on #1091
Should we also make the toggle buttons, radio buttons, and other selection widgets have the same behavior? A .value attribute that is python-only, and an index and label attribute that are synced? It would be nice if all of the selection widgets were consistent.

[2017-02-14 15:23] jasongrout commented on #1091
Oh, that was a dumb question, since the way the code is structured, that would automatically be true.

[2017-02-14 15:23] maartenbreddels commented on #1091
glad I could be of help :wink:

[2017-02-14 15:49] maartenbreddels opened #1109 "Extending jslink?"
jslink is really useful for having some frontend only communication, however there are more use cases I can think of that would be useful. I wonder if some thought went already into this, if not maybe it is useful to discuss some use cases that could be implemented simply.
 - bijective transformation, for instance a slider that controls the log of a value, or a linear transformation. Could be a js

[2017-02-14 17:36] jasongrout opened #1110 "UI review"
This is a placeholder for a UI review by @cameronoelsen (and @ellisonbg?) for all of the changes we've made for 6.0.

[2017-02-14 17:52] SylvainCorlay commented on #1109
We were thinking of having a js container run an arbitrary js transformation specified in a third `transform` argument. Security is tricky, but can probably be achieved.

[2017-02-14 22:45] jasongrout commented on #1110
@cameronoelsen - I updated the dev-install script to contain some instructions about creating a clean environment: https://github.com/ipython/ipywidgets/blob/master/dev-install.sh

[2017-02-14 22:46] jasongrout commented on #1091
@SylvainCorlay and I talked about this, and we realized it wasn't going to substantially change the API for the end-user, so we're going to bump this to 6.1.

[2017-02-14 22:48] #637 closed

[2017-02-14 22:54] jasongrout commented on #1110
One major thing that comes up almost immediately when I've put these widgets in front of someone is that they want to make the textbox, dropdown, and similar widgets shorter. I think the length and tight vertical spacing between widgets contributes to the feeling that the widgets are a bit wide. One option is to maybe make the widget width, say, 400px (so a bit more room for the slider), and make

[2017-02-14 22:56] SylvainCorlay commented on #978
I think that the widget proxy remains a ad-hoc thing rarely used... moving to 6.1.

[2017-02-14 22:58] SylvainCorlay commented on #1110
I think that changing default dimensions of widgets at this stage is likely to cause lots of issues with alignment i combinations of boxes and custom widgets etc...

[2017-02-14 22:58] SylvainCorlay commented on #763
Moving to 6.1

[2017-02-14 23:01] #817 closed

[2017-02-14 23:04] SylvainCorlay commented on #986
Now that we have the placeholder widget in case of missing model,, this will not crash pages with embedded widgets that include output widgets anymore. I removed the critical label.

[2017-02-14 23:04] SylvainCorlay commented on #986
Pushing this forward to 6.1.

[2017-02-14 23:11] jasongrout commented on #1044
This is going to be a major code refactoring and change, I think better saved for after 6.0.

[2017-02-14 23:14] SylvainCorlay commented on #1044
Thanks

[2017-02-14 23:15] SylvainCorlay commented on #1033
I can add to the Widget-Low-Level document tomorrow specifying the main message types.

[2017-02-15 08:21] maartenbreddels commented on #1091
Ok, whatever gets 6.0 out sooner i'm on favor of. But maybe just changing .value on the js side to .label would mean you introduce a breaking change in a major version change which is ok, otherwise in a minor one, which would break semver rules I think.

[2017-02-15 08:30] SylvainCorlay commented on #1091
I am also in favor of pushing 6.0 out as soon as possible.

[2017-02-15 11:01] #1033 closed

[2017-02-15 11:03] SylvainCorlay commented on #337
Should we move this issue to ipykernel? @minrk

[2017-02-15 13:31] #1077 closed

[2017-02-15 15:20] hainm commented on #1025
@jasongrout I've tried with you new note in `dev-install.sh` and it does help. thanks.

[2017-02-15 17:11] akhmerov opened #1115 "date picker may empty the value using keyboard navigation"
Steps to reproduce:

* open a date picker widget or use one from the [docs](http://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html#Date-picker)
* set the date to 01/31/2017
* Increment the month by 1 using keyboard (arrow up)

Expected behavior: the date changes  to 02/31/2017 and the widget border becomes red because the value is invalid or the day gets reset or the day becomes 28

[2017-02-15 18:16] jasongrout opened #1116 "6.0 Release Plan"
(THIS ISSUE HAS BEEN EDITED BY BOTH SYLVAIN AND JASON)

For an ipywidgets 6.0, widgetsnbextension 2.0, and jupyter-js-widgets 2.1 release:

- [x] Email mailing list about this issue: https://groups.google.com/forum/#!topic/jupyter/_CP6rOrlo5M
- [x] Resolve (or bump) [remaining issues](https://github.com/ipython/ipywidgets/issues?q=is%3Aopen+is%3Aissue+milestone%3A6.0) for 6.0
- [x] Check against r

[2017-02-15 18:18] SylvainCorlay commented on #1116
FYI, we have an ongoing google doc that we starting working on. I can share it privately with Brian too.

[2017-02-15 18:22] jasongrout commented on #1005
This is an item for the JupyterLab plugin, which is not on the same release cycle as ipywidgets/jupyter-js-widgets/widgetsnbextension because it is still alpha. Therefore I'm removing it from the 6.0 milestone.

[2017-02-16 01:22] jbednar opened #1118 "Date range picker (feature request)"
The DatePicker looks very useful.  Would having a DateRangePicker be too much to ask? :-)  Often one wants to visualize data from a certain range of dates, and it would be nice to select that range visually (e.g. by dragging over the date range) rather than as a difference between two separate date pickers...

[2017-02-16 05:21] jasongrout commented on #1118
Thanks, I'm glad the date picker looks interesting to you. It's really just a thin wrapper around the browser date input, which cannot represent a range (in fact, the date control itself is not even supported by firefox yet, see https://developer.mozilla.org/en-US/Firefox/Experimental_features) or apparently even IE.)

I think this would be a great idea for a third party widget distributed as a se

[2017-02-16 05:21] #1118 closed

[2017-02-16 05:46] dmadeka commented on #1118
This is very easy to do in bqplot @jbednat .. just create a Figure with no marks and an x scale that has your dates as the domain, and use a brush selector to select the Interval. Since bqplot is built on the widget framework, it's easy to integrate with other widgets

[2017-02-16 12:39] SylvainCorlay commented on #1116
https://gist.github.com/SylvainCorlay/5e747b76ebe6c31b9af2cbb27fe6d881

[2017-02-16 12:54] minrk commented on #337
@SylvainCorlay sure, if it's reproducible without using widgets.

[2017-02-16 14:00] #1076 closed

[2017-02-16 17:40] ellisonbg commented on #1116
I should be able to work on the design stuff on Sat...

[2017-02-16 17:46] SylvainCorlay commented on #1116
@ellisonbg would you be ok going ahead with the RC?

I don't think that the design should change any sizing of widgets because this would be a breaking change for anyone relying on the current proportions.

[2017-02-16 18:01] ellisonbg commented on #1116
Not thrilled about that, but can live with it. I think the current sizes
are pretty painful in certain cases and the 6.0 release would have been a
great time to fix that. But pushing it off until a 7.0 release is probably
fine. I know you have all worked really hard to get 6.0 ready and overall
it is looking amazing. Dealing with the sizing issue at this point would
probably delay things a good am

[2017-02-16 18:22] SylvainCorlay commented on #1116
public APIs?

Yes, all layout-related css properties of the top-level DOM element are accessible through the `layout` property.

We also have a a new `style` property which is per-widget specific and does not map directly to CSS. You can do e.g. `slider.style.handle_color = 'blue'`.

before 6.0 goes out the door. I am fine with a beta being cut, but I would
be a bit hesitant to call it an RC as I

[2017-02-16 18:22] jasongrout commented on #1116
I highly recommend deleting any user settings and installing into a clean conda environment using the instructions in https://github.com/ipython/ipywidgets/blob/master/dev-install.sh.

[2017-02-16 18:23] jasongrout commented on #1116
We really should have called them alphas, and this the beta, but we can't rewind the clock very well.

[2017-02-16 18:26] SylvainCorlay commented on #1116
I want to insist making a realease. It is blocking a lot of people and a lot of advanced users are using the betas and opening issues about it (which makes me more confident about this release than the previous ones). Then we will be able to improve things iteratively with minor releases.

The gap of the code base with the last actual release is huge (front-end language change, web contexts, seria

[2017-02-16 18:28] ellisonbg commented on #1116
Doing a separate conda env helps in some cases, makes things worse in
others:

* You can still have user and system installed extensions that cause
problems. The only way of really dealing with it is to delete/disable all
extensions under sys prefix/user/syste
* (you are fully aware of this!) If it were just widgets that needed to be
installed into the conda env that would be done thing. But in th

[2017-02-16 18:31] ellisonbg commented on #1116
Sylvain - an RC or the actual final release? I am fine with an RC moving
forward...

You mention non-public betas - in the future, I would love it if all betas
were public and announced on the mailing list. Otherwise it is too
difficult for folks not working on it everyday to follow progress as a
release nears.

On Thu, Feb 16, 2017 at 10:28 AM, Brian Granger <ellisonbg@gmail.com> wrote:

--
Brian

[2017-02-16 18:35] ellisonbg opened #1119 "Provide top-level package.json"
Many of the other jupyter subprojects provide a top-level `package.json` file that has subcommands for building different things in the various subdirs. I think this would help a lot in allowing devs to build some/all parts of the widget stuff. Minimally having a command to build each sub-js-package and then one command to build everything would be super helpful.

The reason that is so helpful is

[2017-02-16 18:36] ellisonbg commented on #1116
Opened #1119 on top-level packaging stuff.

[2017-02-16 18:43] SylvainCorlay commented on #1116
forward...

were public and announced on the mailing list. Otherwise it is too
difficult for folks not working on it everyday to follow progress as a
release nears.

I meant the actual release shortly (a week?) after the RC.

That making actual (pre) releases was necessary because of the multi-package nature of the project. Things like the sphinx extension would not have been possible to fully wit